@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url(Manrope-Regular.woff2),
    url(Manrope-Regular.woff);
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 900;
    src: url(Manrope-ExtraBold.woff2) format("woff2"),
    url(Manrope-ExtraBold.woff) format("woff");
}