{% if attachment.getFilename() is not null %}
<div>
  <figure>
    <audio class="u-audio" src="{{ attachment.getUrl() }}" controls>
    </audio>
    <figcaption>
      {% if attachment.getFilename() is not null %}
        <a href="{{ path('attachment_show', {'id': attachment.getId()}) }}">{{ attachment.getBestTitle(note) }}</a>
      {% else %}
        {{ attachment.getBestTitle(note) }}
      {% endif %}
    </figcaption>
  </figure>
</div>
{% else %}
  {# Not stored locally. #}
{% endif %}
