{% if attachment.getFilename() is not null %}
<div>
  <figure>
    <audio class="u-audio" src="{{ attachment.getUrl(note) }}" controls>
    </audio>
    <figcaption>
      {% if attachment.getFilename() is not null %}
        <a href="{{ attachment.getShowUrl(note) }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </figcaption>
  </figure>
</div>
{% else %}
  {# Not stored locally. #}
{% endif %}
