input {
    all: unset;
}
input[type=checkbox],
input[type=radio] {
    all: unset;
    display: inline-block;
    cursor: pointer !important;
    width: 1rem !important;
    height: 1rem !important;
    background: var(--accent) !important;
}
input[type=checkbox]:not(:hover, :focus),
input[type=radio]:not(:hover, :focus) {
    background: var(--foreground) !important;
}
input[type=checkbox],
input[type=radio] {
    border: unset !important;
}
input[type=radio] {
    background: var(--background-hard) !important;
}
input[type=radio] {
    border-radius: 50% !important;
    margin: 3px 3px 0 5px !important;
}
input[type=file] {
    all: unset;
    display: block;
    font-family: 'Open Sans',sans-serif !important;
    font-weight: normal !important;
    padding: unset !important;
    border-radius: var(--smaller);
    background: var(--gradient) !important;
}
input[type=radio] {
    border: solid 0.25em !important;
}
input[type=checkbox] {
    background-size: 100%;
    margin-right: 2px;
    -o-mask-image: url("../../icons/check-off.svg") !important;
    -moz-mask-image: url("../../icons/check-off.svg") !important;
    mask-image: url("../../icons/check-off.svg") !important;
}
input[type=checkbox]:checked {
    -o-mask-image: url("../../icons/check-on.svg") !important;
    -moz-mask-image: url("../../icons/check-on.svg") !important;
    mask-image: url("../../icons/check-on.svg") !important;
}
input[type=color] {
    appearance: none;
    width: var(--big);
    height: var(--big);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
input[type=color]::-webkit-color-swatch {
    border-radius: var(--smaller);
    border: none;
}
input[type=color]::-moz-color-swatch {
    border-radius: var(--smaller);
    border: none;
}
::file-selector-button {
    cursor: pointer;
    background-color: unset;
    border: unset;
    font-family: 'Open Sans',sans-serif !important;
    font-weight: bold !important;
    color: var(--foreground);
    fill: var(--foreground);
    margin: 3px;
}
*|*::-moz-button-content {
    all: unset !important;
}
button {
    display: block !important;
    cursor: pointer !important;
    margin-left: auto !important;
    margin-top: var(--smaller);
}
button,
label {
    font-family: 'Poppins',sans-serif;
    font-weight: bold !important;
    color: currentColor;
}
select::-ms-expand {
    display: none;
}
button,
input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-flex;
    overflow: hidden;
    font-size: inherit;
    padding: 6px 8px !important;
    border-radius: var(--smaller);
    border: 2px solid var(--border) !important;
    width: inherit;
    max-width: border-box !important;
}
button,
select,
textarea {
    background: var(--gradient) !important;
}
button,
input:not([type=checkbox], [type=radio]) {
    background: var(--gradient) !important;
}
select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    cursor: pointer;
    background-repeat: no-repeat;
    border-radius: var(--smaller);
    max-width: 100% !important;
}
select[multiple] {
    overflow-y: scroll;
    height: 20rem;
}
button:focus,
button:hover,
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
    box-shadow: var(--shadow-inset-accent) !important;
}