.notes hr {
    margin-top: 6px;
}

.note-wrapper {
    width: 100%;
    height: inherit;
}

.note-sidebar {
    padding: var(--unit-size);
}

.note-sidebar * {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
}

.note-sidebar .avatar {
    width: 3rem;
    height: auto;
    background: unset;
    margin-bottom: var(--unit-size);
    border-radius: 2px;
}

.h-entry:not(:first-child) {
    margin-top: var(--unit-size);
}

.h-entry .embed {
    display: flex;
    flex-direction: column;
    padding: var(--smaller-size);
    border: unset;
    width: max-content;
}

.h-entry .embed[class*="p-"] {
    padding: unset !important;
}

.h-entry a:focus {
    text-decoration: underline;
}

.h-entry .embed header img {
    padding: unset;
    max-width: min-content;
    max-height: min-content;
}

.h-entry {
    display: flex;
    background-color: var(--translucent);
    border-radius: var(--unit-size);
    border: solid 2px var(--bg2);
    box-shadow: var(--shadow);
}

.h-entry figure {
    margin: unset;
    object-fit: cover;
}

.h-entry .replies .h-entry {
    background-color: unset;
    padding: 0 var(--unit-size) var(--unit-size) 0;
    margin-left: var(--medium-size);
}

.note-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 3rem;

    border-bottom: unset;
    border-radius: var(--unit-size) var(--unit-size) 0 0;

    background: linear-gradient(to left, var(--translucent), transparent);
    font-size: var(--medium-size);
    padding: 6px 10px 6px 0;
}

.note-author {
    font-size: var(--small-size);
    font-weight: bold;
    display: flex;
    align-items: center;
    align-self: center;
}

.note-actions {
    display: flex;
    vertical-align: middle;
}

.note-actions .form-group {
    all: unset;
}

.button-container {
    all: unset;
    border: none !important;

    background-repeat: no-repeat !important;

    width: 1em !important;
    height: 1em !important;

    margin-left: var(--unit-size);
    text-indent: -9999em;
}

.button-container:hover,
.button-container:focus {
    border: none !important;
    background: var(--bg3) !important;
}

.favourite-button-container {
    -webkit-mask-image: url("../../icons/heart.svg") !important;
    -o-mask-image: url("../../icons/heart.svg") !important;
    -moz-mask-image: url("../../icons/heart.svg") !important;
    mask-image: url("../../icons/heart.svg") !important;
}

.reply-button-container {
    -webkit-mask-image: url("../../icons/reply.svg") !important;
    -o-mask-image: url("../../icons/reply.svg") !important;
    -moz-mask-image: url("../../icons/reply.svg") !important;
    mask-image: url("../../icons/reply.svg") !important;
}

.repeat-button-container {
    -webkit-mask-image: url("../../icons/repeat.svg") !important;
    -o-mask-image: url("../../icons/repeat.svg") !important;
    -moz-mask-image: url("../../icons/repeat.svg") !important;
    mask-image: url("../../icons/repeat.svg") !important;
}

.note-actions-unset {
    background: var(--bg2) !important;
}

.note-actions-set {
    background: var(--white) !important;
}

.note-content {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 var(--unit-size) var(--unit-size);
    padding: var(--small-size);
}

.note-text {
    margin-bottom: var(--unit-size);
}

.section-attachments {
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;

    border-radius: var(--unit-size);
    background-color: var(--translucent);
    padding: var(--unit-size);

    align-self: flex-start;
}

.note-attachments:not(:only-child) {
    margin-right: var(--unit-size);
}

.note-attachments > figure figcaption {
    display: flex;
    word-break: break-all;
    margin-bottom: var(--unit-size);
}

/* PROFILE */
.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: var(--main-font);
    background-color: var(--translucent);
    margin-bottom: var(--unit-size);
    border-radius: var(--unit-size);
    padding: var(--unit-size);
    box-shadow: var(--shadow);
}

.profile *[class*="profile-info-"] {
    flex: 1;
    mix-blend-mode: difference;
}

.profile-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.profile-info-nickname {
    font-size: var(--medium-size);
}

.profile-info-tags {
    margin: unset;
}

.profile-info-stats strong {
    margin-right: 5px;
}

.profile-info-stats {
    margin-top: var(--unit-size);
}

.profile-avatar {
    max-width: 4rem;
    min-width: 3rem;
    width: 100%;
    height: auto;
    margin-right: 5px;
    border-radius: 2px;
}