.icon-left {
    position: fixed;
    top: 0;
    left: 0;
    padding: calc(3 * var(--unit-size));

    width: var(--main-size);
    height: auto;

    fill: var(--white);
    stroke-width: 0;
    vertical-align: middle;
}

.icon-avatar {
    width: var(--main-size);
    height: auto;
}

#right-container {
    order: 1;
}

#left-container[open] > div {
    opacity: 100%;
}

#left-container[open] {
    order: 1;
    width: calc(100vw / 4);
    border-right: solid 1px var(--bg2);
}

#left-container[open] > #left-panel {
    position: fixed;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: var(--small-size);
}