#left-panel {
    left: 0;
}

/* PROFILE */
.profile-nav {
    font-family: var(--display-font);
}

.profile-nav nav {
    display: inline-grid;
    margin-bottom: var(--main-size);
}

.profile {
    background-color: var(--translucent);
    margin-bottom: var(--main-size);
    border: solid 2px var(--bg2);
    border-radius: var(--unit-size);

    padding: var(--unit-size);
    box-sizing: border-box;
}

#profile-links {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: var(--unit-size);
}

#user-avatar {
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0;
}

#user-avatar img {
    border-radius: var(--unit-size);
    width: calc(3 * var(--main-size));
    height: auto;

    margin-right: var(--unit-size);
}

#user-avatar:hover,
#user-avatar:focus {
    cursor: pointer;
    background: none !important;
}

#user-avatar:hover img,
#user-avatar:focus img {
    border-radius: 50% !important;
    box-shadow: var(--shadow-light) !important;
}

#user-info {
    display: flex;
    flex-direction: column;
}

#user-tags {
    font-family: var(--main-font);
    padding-left: var(--unit-size);
}
#stats {
    display: flex;
    flex-direction: column;
    font-size: var(--medium-size);
    font-weight: bold;
}

/* TIMELINE NAVIGATION / PLUGINS */
.timeline-nav a,
.timeline-nav h1 {
    display: flex;
}
.timeline-nav h1 {
    padding-left: var(--unit-size);
}
.timeline-nav hr {
    flex: 1;
    background: linear-gradient(90deg, var(--bg3), transparent);
}
.timeline-nav a {
    color: var(--white);
}

.timeline-nav .active {
    color: var(--white);
}

.main-nav a {
    display: flex;
    flex-direction: column;
}

