.icon-left {
    position: fixed;
    top: 0;
    left: 0;
    padding: calc(3 * var(--unit-size));

    width: var(--main-size);
    height: auto;

    fill: var(--white);
    stroke-width: 0;
    vertical-align: middle;
}

.icon-avatar {
    width: var(--main-size);
    height: auto;
}

#left-container[open] {
    height: calc(100vh - (3 * var(--small-size) + var(--main-size)));
    width: calc(100vw / 5);
}

#left-container[open] > div {
    opacity: 100%;
}

#left-container[open] a {
    tab-index: 0;
}

#left-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: var(--main-size);
    width: inherit;
    height: inherit;
    padding: var(--small-size);
    box-sizing: border-box;
}

/* PROFILE */
.profile-nav {

    font-family: var(--display-font);
}

.profile {
    width: 100%;
    margin-bottom: var(--main-size);

    background-image: radial-gradient(ellipse at 10% 10%, var(--bg3), var(--accent-blue)),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAElBMVEUAAACUkpSEhoSMioyMjoyEgoRr6djFAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAU1JREFUKJEVUcl1xTAIpAVLSgECXIAYUoCAX0Bi919LlCPLm5ValiOUUe2+ZRVFuYpKXFsUX9aIp0V6GtC8VRhNL0X2fikvswhKrNDhes7pbpPkufFAtI0B76LEjfc2bgdHDk6RX4A/sjt6LCylfoYpNYYJx/9COhIugsjluzN9VGZ/Hnl51jIH2ba+Ywsy2RJCFdoDe8Obw61TXGAv+ewExMRJs7gd7YcimPuk42uMqY2VJ1fK+bDL32rb7kwok/la/u7Mrz7Xf0DTssSP2Btp1ZS0zw35tM/SsJKgWNLcRh+/th1QqntwtM3Tx0LNosoBYbM3qjJFiMeLsMH2i5BcQdU3n9sJHOE1Hoqn1GA/bm4s0YkVB/y4r0PbltF32FpljXmdlOOwbDvFWkoDYLppSG4pnM6UxX3Src1lhXeU36FOu3o+R2vNaHME/wESUl9/3zMniwAAAABJRU5ErkJggg==);
    background-blend-mode: multiply;
    border-radius: var(--unit-size);

    padding: var(--unit-size);
    box-sizing: border-box;
}

.profile a:focus,
.profile a:hover {
    all: unset;
    color: var(--white) !important;
}

.footer {
    font-size: var(--small-size);
    margin-top: auto;
}

/* TIMELINE NAVIGATION / PLUGINS */
.timeline-nav {
    margin-top: var(--main-size);
    display: flex;
    flex-direction: column;
}

.timeline-nav a {
    color: var(--white);
}

.timeline-nav .active {
    color: var(--white);
}

.main-nav ul {
    display: flex;
    flex-direction: column;
}

.sec-nav a {
    font-size: var(--medium-size);
}

.sec-nav ul {
    display: flex;
    flex-direction: column;
}