.panel-left .panel-content {
    left: 0;
}

#panel-left-toggle:not(:checked),
#panel-left-toggle:checked {
    position: absolute;
    top: -100%;
}
#panel-left-toggle:focus + * {
    border-radius: 4px;
    border: 2px solid var(--white);
}
#panel-left-icon {
    cursor: pointer !important;
    border: 2px solid transparent;
}

.panel-left nav {
    font-size: var(--medium-size);
}

/* PROFILE */
.profile {
    display: flex;
    flex-direction: column;
    font-family: var(--display-font);

    background-color: var(--translucent);
    margin-bottom: var(--main-size);
    border: solid 2px var(--bg2);
    border-radius: var(--unit-size);

    padding: var(--unit-size);
    box-sizing: border-box;
}

.profile ~ * {
    padding: var(--unit-size);
}

#user {
    align-content: center;
}
#user img {
    float: left;
    width: 5rem;
    height: auto;
    margin-right: 5px;
}

.profile-navigation {
    margin-bottom: var(--main-size);
}
.profile-navigation > * {
    display: block;
}

/* TIMELINE NAVIGATION / PLUGINS */
.timeline-nav {
    margin-bottom: var(--main-size);
}
.timeline-nav a,
.timeline-nav h1 {
    display: flex;
}

.timeline-nav hr {
    flex: 1;
    background: linear-gradient(90deg, var(--bg3), transparent);
}
.timeline-nav a {
    color: var(--white);
}

.timeline-nav .active {
    color: var(--white);
}

.main-nav a {
    display: flex;
    flex-direction: column;
}
.sec-nav {
    padding-left: var(--unit-size);
}

.footer {
    margin-top: auto;
    font-size: var(--small-size);
}
