<div>
    <figure>
        <video class="u-video" src="{{ attachment.getUrl() }}" controls poster="{{ attachment.getThumbnailUrl('medium')}}">
        </video>
        <figcaption><a
                href="{{ path('attachment_show', {'id': attachment.getId()}) }}">{{ attachment.getBestTitle(note) }}</a>
        </figcaption>
    </figure>
</div>
