{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/default_theme/css/pages/feeds.css') }}" type="text/css">
{% endblock stylesheets %}

{% block body %}
    {% if tag_name is defined and tag_name is not null %}
        {% if tag_name is instanceof('string') %}
            <h2>{% trans %}Notes with tag: %tag_name%{% endtrans %}</h2>
        {% else %}
            {% set tags = tag_name|join(',') %} {# TODO Not ideal, hard to translate #}
            <h2>{% trans %}Notes with tags: %tags%{% endtrans %}</h2>
        {% endif %}
    {% endif %}

    {% for pinned in handle_event('AddPinnedFeedContent', app.request) %}
        {% include pinned['template'] with { 'actor_tags': pinned['vars']} only %}
    {% endfor %}

    {% for actor in results %}
        {% block profile_view %}{% include 'cards/profile/view.html.twig' %}{% endblock profile_view %}
    {% endfor %}

    <div class="section-widget section-widget-padded">
        {{ "Page: " ~ page }}
    </div>
{% endblock %}
