{% extends '/collection/notes.html.twig' %}

{% block title %}{{ page_title | trans }}{% endblock %}

{% block body %}
    <div class="frame-section frame-section-padding">
        <h2 class="frame-section-title">{{ page_title | trans }}</h2>
        {% block collection_items %}
        {% endblock collection_items %}
    </div>
{% endblock body %}
