<section class="frame-section collections">
    <details class="section-details-title" title="Expand if you want to access more options.">
        <summary class="details-title-summary">
            <h2>{{ctitle}}</h2>
        </summary>
        {% if has_collections %}
            <section class="section-form">
                {{ form(add_form) }}
            </section>

            <details class="section-details-subtitle frame-section-padding"
                     title="Expand if you want to access more options.">
                <summary class="details-subtitle-summary">
                    <strong>{% trans %}Other options{% endtrans %}</strong>
                </summary>
                <section class="section-form">
                    {{ form(create_form) }}
                </section>
            </details>
        {% else %}
            <section class="section-form">
                {{ form(create_form) }}
            </section>
        {% endif %}
    </details>
</section>

