.panel-right .panel-content {
    right: 0;
}

#panel-right-toggle:not(:checked),
#panel-right-toggle:checked {
    position: absolute;
    top: -100%;
}
#panel-right-toggle:focus + * {
    border-radius: 4px;
    border: 2px solid var(--white);
}
#panel-right-icon {
    cursor: pointer !important;
    border: 2px solid transparent;

    height: 100%;
    width: auto;
}