.icon-right {
    width: var(--main-size);
    height: auto;

    fill: var(--white);
    stroke-width: 0;
    vertical-align: middle;
}

#right-panel {
    right: 0;
}

.create-notice {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: var(--unit-size);
}

.create-notice textarea {
    width: 100%;
}

.section-title {
    flex: 1;
    border-radius: var(--unit-size);

    padding: var(--unit-size);
    box-sizing: border-box;

    background-color: var(--translucent);
    font-family: var(--display-font);
}
.section-content {
    margin: var(--unit-size);
}
.section-content hr {
    all: unset;
    display: inline;
    height: 2px;
    background-image: linear-gradient(to left, var(--translucent-light), transparent 90%);
    margin-bottom: var(--unit-size);
}

.target,
.scope {
    border-radius: var(--unit-size);
}

.target label,
.scope label {
    font-family: var(--display-font);
}

#post_visibility {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: var(--medium-size);
    margin: var(--unit-size);
}

#post_visibility input[type="radio"] {
    margin-right: 0.1em;
}

#post_visibility label {
    margin-right: var(--small-size);
}

#tabs {
    display: flex;
    flex-direction: column;
    font-family: var(--display-font);
}

.notice-options {
    margin-top: var(--unit-size);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    font-family: var(--display-font);
    width: 100%;
}

.post {
    align-self: flex-end;
}

#post_content {
    border-radius: var(--unit-size);
    background-color: var(--translucent);

    max-width: 100%;
    height: calc(6 * var(--main-size));

    border: 2px solid var(--bg2);
    margin-top: var(--unit-size);
    padding: var(--unit-size);
    resize: vertical;

    font-family: var(--main-font);
    font-size: var(--medium-size);
    color: var(--white);
    box-sizing: border-box;
}


#post_attachments,
#post_post {
    cursor: pointer;
}

#post_attachments {
    margin-bottom: var(--unit-size);
}

#post_post {
    font-family: var(--display-font);
    font-size: var(--medium-size);
    padding: .2em .4em;

    border-radius: var(--unit-size);
    border: 2px solid var(--bg3);

    background-color: var(--bg1);
    color: var(--white);
    transition: 0.4s;

}

.attachments {
    flex: 1;
}

.create-notice details {
    font-family: var(--display-font);
    padding: var(--unit-size);
    box-sizing: border-box;
    cursor: pointer;
}

#note-types {
    padding: var(--unit-size);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}