.icon-right {
    position: fixed;
    top: 0;
    right: 0;
    padding: calc(3 * var(--unit-size));

    width: var(--main-size);
    height: auto;

    fill: var(--white);
    stroke-width: 0;
    vertical-align: middle;
}

#right-container[open] > div {
    opacity: 100%;
}

#right-container[open] {
    width: calc(100vw / 4);
    border-left: solid 1px var(--bg2);
    margin-left: var(--main-size);
}

#right-panel {
    position: fixed;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: var(--small-size);
}

input[type="file"] {
    font-family: var(--display-font);
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}