{% extends 'stdgrid.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<section class="section-widget section-padding">
    <h2 class="section-title">{{ title }}</h2>

    <div class="section-padding">
        {% if actors is defined and actors is not empty %}
            {% for actor in actors %}
                {% block profile_view %}{% include 'cards/profile/view.html.twig' %}{% endblock profile_view %}
                <hr>
            {% endfor %}
            <p>{% trans %}Page: %page%{% endtrans %}</p>
        {% else %}
            <h3>{{ empty_message }}</h3>
        {% endif %}
    </div>
</section>
{% endblock body %}
