{% extends 'stdgrid.html.twig' %}

{% block title %}Actors{% endblock %}

{% block body %}
<section class="section-widget section-widget-padded">
    <h2 class="section-title">{{ "Actors" | trans }}</h2>

    <div class="section-widget-padded">
        {% if actors is defined and actors is not empty %}
            {% for actor in actors %}
                {% block profile_view %}{% include 'cards/profile/view.html.twig' %}{% endblock profile_view %}
            {% endfor %}
        {% else %}
            <h1>{% trans %}No actors here.{% endtrans %}</h1>
        {% endif %}
    </div>
</section>
{% endblock body %}