{% extends 'stdgrid.html.twig' %}

{% block title %}Actors{% endblock %}

{% block body %}
<section class="section-widget section-widget-padded">
    <div class="actors">
        {% if actors is defined and actors is not empty %}
            {% for actor in actors %}
                {% include 'directory/actor.html.twig' with {'actor': actor, 'have_user': have_user} only %}
            {% endfor %}
        {% else %}
            <h1>{% trans %}No actors here.{% endtrans %}</h1>
        {% endif %}
    </div>
</section>
{% endblock body %}