{% extends 'stdgrid.html.twig' %}

{% block title %}Groups{% endblock %}

{% block body %}
    <div class="feed">
        <div class="groups">
            {% if groups is defined and groups is not empty %}
                {% for group in groups %}
                    {% include 'directory/group.html.twig' with {'group': group, 'have_user': have_user} only %}
                {% endfor %}
            {% else %}
                <h1>{% trans %}No groups here.{% endtrans %}</h1>
            {% endif %}
        </div>
    </div>
{% endblock body %}
