<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
          body {
              background-color: #333;
              color: #ddd;
          }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {% if notices is defined %}
          {% for notice in notices %}
            <div> {{notice}} </div>
          {% endfor %}
        {% else %}
          No notices here.
        {% endif %}
    </body>
</html>
