{% extends 'stdgrid.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public.css') }}">
{% endblock %}

{% block body %}

    {# Backwards compatibility with hAtom 0.1 #}
    <div class="timeline" tabindex="0">
        <main class="h-feed hfeed notes">
            {% if notes is defined and notes is not empty %}
                {% for conversation in notes %}
                    {% include '/note/view.html.twig' with {'note': conversation['note'], 'have_user': have_user, 'replies': conversation['replies']} only %}
                {% endfor %}
            {% else %}
                <div id="empty-notes"><h1>{% trans %}No notes here.{% endtrans %}</h1></div>
            {% endif %}
        </main>
    </div>

{% endblock body %}

{% block javascripts %}{% endblock %}
