{% extends 'stdgrid.html.twig' %}

{% block title %}{{ 'Welcome! - Public Timeline' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public.css') }}">
{% endblock %}

{% block body %}
    {# Backwards compatibility with hAtom 0.1 #}
    <main class="timeline" tabindex="0" role="main" aria-label={{ 'Main public timeline feed.' | trans }}>
        <div class="h-feed hfeed notes" role="feed">
            {% if notes is defined and notes is not empty %}
                {% for conversation in notes %}
                    {% include '/note/view.html.twig' with {'note': conversation['note'], 'have_user': have_user, 'replies': conversation['replies']} only %}
                {% endfor %}
            {% else %}
                <div id="empty-notes"><h1>{% trans %}No notes here.{% endtrans %}</h1></div>
            {% endif %}
        </div>
    </main>

{% endblock body %}

{% block javascripts %}{% endblock %}
