

.section-panel-right {
    position: absolute;
    right: 0;
}

#panel-right-toggle:not(:checked),
#panel-right-toggle:checked {
    position: absolute;
    top: -100%;
}

.section-panel-right #panel-right-toggle:checked ~ .header-panel {
    left: 0;
}

.panel-right-icon {
    cursor: pointer !important;
    padding-right: var(--s);
    border: 2px solid transparent;
    vertical-align: middle;
}

.section-panel-right textarea {
    resize: vertical;
}

@media only screen and (min-width: 1281px) {
    .section-panel-right #panel-right-toggle ~ .header-panel {
        right: 0;
    }

    .panel-right-icon {
        opacity: 0;
    }
}

/* > 1080p */
@media only screen and (min-width:1921px) {
    /*
    * Using the Van de Graaf Canon and Tschichold’s recommended 2:3 page-size ratio
    *
    * 50% - (100 * 2/3) / 2 = 33%
    *
    * > .section-panel-right
    * 50 % - 33% = 17%
    */
    .section-panel-right {
        margin-right: 17vw;
    }
}