
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
!.php-cs-fixer.php
/.php_cs.cache
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###


DOCUMENTATION/database/*
!DOCUMENTATION/database/database.pdf

docker/certbot/.files
docker/certbot/www
docker/*/*.env

docker/mail/etc/hostname
docker/mail/etc/hosts
docker/mail/etc/resolv.conf
docker/mail/config/aliases.db
docker/mail/config/domains.db
docker/mail/config/mailboxes.db
docker/mail/config/passwd.db
docker/mail/etc/service/*
!docker/mail/etc/service/*/run

!docker/testing/*
!docker/testing/docker-compose.yaml
docker/testing/*~

docker-compose.yaml
composer.local.json

social.local.yaml

# V2
config.php
/file

notes


.test_coverage_report
.phpunit_cache