parameters:
    level: 4
    bootstrapFiles:
        - config/bootstrap.php
    paths:
        - src
        - tests
        - components
        - plugins
    excludePaths:
        - plugins/ActivityPub
        - plugins/Poll
        - components/FreeNetwork
    earlyTerminatingMethodCalls:
        App\Core\Log:
            - unexpected_exception
    ignoreErrors:
        -
            message: '/Access to an undefined property App\\Util\\Bitmap::\$\w+/'
            paths:
                - *

        -
            message: '/^Property App\\PHPStan\\ClassFromTableNameDynamicStaticMethodReturnTypeExtension::\$provider is never read, only written\./'
            path: src/PHPStan/ClassFromTableNameDynamicStaticMethodReturnTypeExtension.php

        # -
        #     message: '/has no return typehint specified/'
        #     paths:
        #         - tests/*

services:
    -
        class: App\PHPStan\ClassFromTableNameDynamicStaticMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: App\PHPStan\GNUsocialProvider
