parameters:
    level: 2
    bootstrapFiles:
        - config/bootstrap.php
    earlyTerminatingMethodCalls:
        App\Core\Log:
            - unexpected_exception
    ignoreErrors:
        -
            message: '/Access to an undefined property App\\Util\\Bitmap::\$\w+/'
            paths:
                - *

services:
    -
        class: App\PHPStan\ClassFromTableNameDynamicStaticMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: App\PHPStan\ObjectManagerResolver
