parameters:
    level: 3
    bootstrapFiles:
        - config/bootstrap.php
    earlyTerminatingMethodCalls:
        App\Core\Log:
            - unexpected_exception
    ignoreErrors:
        -
            message: '/Access to an undefined property App\\Util\\Bitmap::\$\w+/'
            paths:
                - *
        # -
        #     message: '/has no return typehint specified/'
        #     paths:
        #         - tests/*

services:
    -
        class: App\PHPStan\ClassFromTableNameDynamicStaticMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: App\PHPStan\GNUsocialProvider
