
<div class="poll">
    <p class="poll-question">{{ vars.question }}</p>
    {% if vars.form is not null %}
        {% block form %}
            <div class='form-single'>
                {{ form(vars.form) }}
            </div>
        {% endblock form %}
    {%  else  %}
        <ul>
        {% for question, votes in vars.responses %}
            <li>{{ question }}: {{ votes }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>