<div class="poll">
    <p class="poll-question">Q. {{ vars.question }}</p>
    {% if vars.form is not null %}
        {% block form %}
            <div class='form-single'>
                {{ form(vars.form) }}
            </div>
        {% endblock form %}
    {% else %}
        <ul>
            {% for question, votes in vars.responses %}
                <li class="result">
                    <p class="result-option">{{ question }}</p>
                    <p class="result-vote">{{ votes }} </p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>