
html {
    font-family: 'Open Sans', sans-serif;
    scroll-margin-top: var(--xxl);
}

.icon {
    align-self: center;
    fill: var(--foreground);
}

.active {
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.anchor-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.accessibility-menu {
    display: block;
    position: absolute;
    z-index: 999;
    top: -90%;
    left: -90%;
    width: 30%;
    height: min-content;
    padding: var(--s);
    border-radius: var(--s);
    background-color: var(--background-hard) !important;
    border: 2px solid var(--border);
}

.accessibility-menu ul {
    list-style-type: disc;
    margin-left: var(--m);
}

.accessibility-menu:focus-within:not(:active) {
    top: var(--s);
    left: var(--s);
}

.heading-no-margin {
    margin-bottom: initial;
}

.page-header {
    z-index: 1;
    position: fixed;
    display: flex;
    top: 0;
    height: var(--xxl);
    align-items: baseline;
    padding: var(--s);
    background: var(--gradient) !important;
    box-shadow: var(--shadow);
}

.header-instance {
    text-align: center;
    flex: 1;
}

.header-instance * {
    margin: unset;
}

.page-content-wrapper {
    position: relative;
    top: var(--xxl);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: var(--s) var(--s) 0;
}

.page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.markdown-blocks {
    border-radius: 0 0 var(--s) var(--s);
    padding: var(--s);
    background-color: var(--background-card) !important;
}

.markdown-blocks ul {
    margin-left: 1em;
    list-style: disc;
}

.markdown-blocks ul li {
    margin-bottom: 0.2em;
}

.doc-navigation {
    border-radius: var(--s) var(--s) 0 0;
    border-bottom: 0;
    padding: var(--s);
    background-color: var(--background-card) !important;
}

.doc-navigation ul {
    display: flex;
    justify-content: space-evenly;
}

.section-panel {
    position: fixed;
    top: var(--xxl);
    padding: var(--s);
}

.section-panel-left {
    left: 0;
}

.section-panel-right {
    right: 0;
}

.section-panel .panel-content {
    display: block;
    height: 100vh;
    background: var(--background-hard);
}

@media only screen and (max-width: 1280px) {
    .page-header {
        width: 100%;
    }

    .page-content-wrapper {
        width: 100%;
    }

    .page-content {
        max-width: 100%;
    }

    label[for|="toggle-panel"] {
        cursor: pointer;
    }

    input[id|="toggle-panel"] {
        position: absolute;
        top: -100%;
    }

    #toggle-panel-left:not(:checked) ~ .section-panel-left,
    #toggle-panel-right:not(:checked) ~ .section-panel-right {
        display: none;
    }

    #toggle-panel-left:checked ~ .section-panel-left,
    #toggle-panel-right:checked ~ .section-panel-right {
        z-index: 1;
        width: 100vw;
        left: 0;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 1281px) {
    .page-header {
        width: 100%;
    }

    label[for|="toggle-panel"],
    input[id|="toggle-panel"] {
        display: none !important;
    }

    .section-panel {
        width: 17vw;
    }

    .page-content-wrapper {
        width: 66vw;
    }

    a[id|="anchor"]:target + .accessibility-target {
        animation-name: highlight;
        animation-duration: 600ms;
        animation-timing-function: ease-in-out;
    }
}

@media only screen and (min-width: 1921px) {
    /*
    * Using the Van de Graaf Canon and Tschichold’s recommended 2:3 page-size ratio
    *
    * 100% * 2/3 = 66%
    *
    * > .page-content-wrapper
    * 66% * 2/3 = 44%
    *
    * > .section-panel
    * 66% - 44% = 22%
    * 22% / 2 = 11%
    */
    .page-header {
        width: 66vw;
        align-self: center;
    }

    label[for|="toggle-panel"],
    input[id|="toggle-panel"] {
        display: none !important;
    }

    .section-panel {
        width: 11vw;
    }

    .section-panel-left {
        left: 17vw;
    }

    .section-panel-right {
        right: 17vw;
    }

    .page-content-wrapper {
        width: 44vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: unset;
        transform: none;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
    0% {
        opacity: unset;
        transform: none;
    }
}

@media (prefers-color-scheme: dark) {
    @keyframes highlight {
        0% {
            box-shadow: initial;
            border-radius: var(--s);
        }
        50% {
            border-radius: var(--s);
            box-shadow: inset 0 20px 40px #FFF;
            transition: box-shadow 0.3s ease-in-out;
            z-index: 666;
        }
        100% {
            box-shadow: initial;
            border-radius: var(--s);
        }
    }
}

@media (prefers-color-scheme: light) {
    @keyframes highlight {
        0% {
            box-shadow: initial;
            border-radius: var(--s);
        }
        50% {
            border-radius: var(--s);
            box-shadow: inset 0 20px 40px #000;
            transition: box-shadow 0.3s ease-in-out;
        }
        100% {
            box-shadow: initial;
            border-radius: var(--s);
        }
    }
}