

#replyform,
.doc-navigation,
.h-entry,
.markdown-blocks {
    background-color: var(--background-card) !important;
}

.set-background-color-gradient,
button:not(.button-container),
input[type=file] {
    background: var(--gradient) !important;
}

.note-info {
    background: var(--tneidarg) !important;
}

.section-settings hr {
    background: var(--border) !important;
}

.button-container:focus,
.button-container:hover,
.set-background-color-accent,
input[type=checkbox],
input[type=checkbox]:focus,
input[type=checkbox]:hover,
input[type=radio]:focus,
input[type=radio]:hover {
    background-color: var(--accent) !important;
}

.note-actions-set,
.set-background-color-foreground {
    background-color: var(--foreground) !important;
}

::-webkit-file-upload-button {
    color: var(--foreground);
    fill: var(--foreground);
}

::file-selector-button {
    color: var(--foreground);
    fill: var(--foreground);
}

::file-selector-button {
    color: var(--foreground);
    fill: var(--foreground);
}

body,
input,
textarea,
select {
    color: var(--foreground);
    fill: var(--foreground);
}

.doc-navigation,
.h-entry:not(.embed),
.markdown-blocks,
.section-settings,
.section-settings ul,
.section-widget,
.set-border-soft,
button,
input,
select,
textarea {
    border: 2px solid var(--border) !important;
}

#header,
.h-entry:not(.embed),
.header-extra-forms-open,
.profile,
.set-shadow-dark,
button,
input,
select,
textarea {
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

