

/* Focus and hover (inset shadow is used in alternative to a border to prevent further redraws) */
button:focus,
button:hover,
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
    -webkit-box-shadow: var(--shadow-inset-accent) !important;
    -moz-box-shadow: var(--shadow-inset-accent) !important;
    box-shadow: var(--shadow-inset-accent) !important;
}

*:focus {
    -webkit-box-shadow: var(--shadow-inset-accent);
    -moz-box-shadow: var(--shadow-inset-accent);
    box-shadow: var(--shadow-inset-accent);
}

.page-header,
.accessibility-menu,
.header-extra-forms-open,
.set-background-color-hard,
input[type=checkbox]:checked~.panel-content,
input[type=radio] {
    background-color: var(--background-hard) !important;
}

.button-container,
.note-actions-set,
.set-background-color-soft,
hr,
input[type=checkbox] {
    background-color: var(--background-soft) !important;
}

#replyform,
.doc-navigation,
.h-entry,
.markdown-blocks,
.profile,
.section-title-details,
.section-attachments,
.section-settings,
.section-settings ul,
.section-widget,
.set-background-color-alpha,
button,
input,
select,
textarea {
    background-color: var(--translucent) !important;
}

.set-background-color-gradient,
button:not(.button-container),
input[type=file] {
    background: var(--gradient) !important;
}

.note-info {
    background: var(--tneidarg) !important;
}

.section-settings hr {
    background: var(--background-soft) !important;
}

.button-container:focus,
.button-container:hover,
.set-background-color-accent,
input[type=checkbox],
input[type=checkbox]:focus,
input[type=checkbox]:hover,
input[type=radio]:focus,
input[type=radio]:hover {
    background-color: var(--accent) !important;
}

.note-actions-set,
.set-background-color-foreground {
    background-color: var(--foreground) !important;
}

::-webkit-file-upload-button {
    color: var(--foreground);
    fill: var(--foreground);
}

::file-selector-button {
    color: var(--foreground);
    fill: var(--foreground);
}

::file-selector-button {
    color: var(--foreground);
    fill: var(--foreground);
}

body,
input,
textarea,
select {
    color: var(--foreground);
    fill: var(--foreground);
}

.accessibility-menu,
.set-border-accent {
    border: 2px solid var(--accent);
}

.doc-navigation,
.h-entry,
.markdown-blocks,
.section-settings,
.section-settings ul,
.section-widget,
.set-border-soft,
button,
input,
select,
textarea {
    border: 2px solid var(--background-soft) !important;
}

#header,
.h-entry,
.header-extra-forms-open,
.profile,
.set-shadow-dark,
button,
input,
select,
textarea {
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.set-shadow-light {
    -webkit-box-shadow: var(--shadow-light);
    -moz-box-shadow: var(--shadow-light);
    box-shadow: var(--shadow-light);
}

