* {
    box-sizing: border-box !important;
    max-width: 100%;
}

body, html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-attachment: fixed;
    background-color: var(--background-hard);
    display: flex;
    flex-direction: column;
    font-family: "var(--unit) 'Open Sans'", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

body, input, select, textarea {
    color: var(--foreground);
}

:link, :visited {
    color: currentColor;
    text-decoration: none;
}

hr {
    all: unset;
    background-color: var(--border) !important;
    display: block;
    height: 1px;
}

menu, ul {
    list-style: none;
    margin: unset;
    padding: unset;
}

blockquote, body, fieldset, form, html, input, pre, textarea {
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset {
    all: unset;
}

section {
    all: unset;
}

:link img, :visited img, a img {
    border: 0;
}

address {
    font-style: normal;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

details summary {
    cursor: pointer !important;
}

details summary > * {
    margin: unset;
    padding: unset;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

p {
    all: unset;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, legend {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin: 3rem 0 1.38rem;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, legend:first-child {
    margin-top: initial;
}

h1 {
    font-size: 1.383rem;
    margin-top: 0;
}

h2 {
    font-size: 1.296rem;
}

h3 {
    font-size: 1.215rem;
}

h4 {
    font-size: 1.138rem;
}

h5 {
    font-size: 1.067rem;
}

legend {
    font-size: 1.296em;
}

.text_small, small {
    font: .937rem 'Open Sans', sans-serif;
}

input[type=password], input[type=text], textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 4px 6px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    margin: 0;
    padding: 0;
}

a:focus, a:hover {
    text-decoration: underline;
}

:focus-visible {
    box-shadow: var(--shadow-inset-accent);
}