{% extends 'stdgrid.html.twig' %}

{% block body %}
    <div class="page">
        <section class="frame-section frame-section-padding">
            {% include '/cards/attachments/view.html.twig' with {'attachment': attachment, 'note': note, 'title': title} only %}
            <a class="frame-section-button-like" href="{{ download }}"> {{ 'Download link' | trans }}</a>
        </section>
    </div>
{% endblock body %}