{% extends 'stdgrid.html.twig' %}

{% block body %}
    <div class="page">
        <section class="section-widget section-padding">

            {% include '/cards/attachments/view.html.twig' with {'attachment': attachment, 'note': null} only %}

            <a class="section-widget-button-like" href="{{ download }}"> {{ 'Download link' | trans }}</a>
        </section>

    </div>
{% endblock body %}