<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin Configuration page!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
          body {
              background-color: #333;
              color: #ddd;
          }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {{ form(form) }}

        {% if old_value is defined and default is defined %}
             Old value: {{ old_value }} <br>
             Default value: {{ default }}
        {% endif %}
    </body>
</html>
