.content {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(3 * var(--main-size));
      justify-content: center;
      align-items: center;
      margin-left: var(--nav-size);
      margin-right: 0;
      margin-bottom: var(--unit-size);
}

.set-nav {
      order: 1;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      background-color: #2A323B;
      padding: var(--medium-size);
      font-size: var(--medium-size);
      font-family: var(--head-font);
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
}

.set-nav ul {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      width: 100%;
      margin-left: calc(2 * var(--side-margin));
      margin-right: calc(2 * var(--side-margin));
      padding: 0;
}

.set-nav li {
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
      font-weight: 700;
}

.active {
      color: #F6F6F6 !important;
      font-weight: 700;
}

.set-nav a {
      color: #91B9D0;
}

.set-nav a:hover {
      color: #F6F6F6;
      transition: all 0.8s ease;
}

.set-nav2 {
      order: 2;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      background-color: #00000050;
      padding: var(--medium-size);
      margin-top: calc(2 * var(--unit-size));
      margin-left: var(--side-margin);
      margin-right: var(--side-margin);
      font-size: var(--medium-size);
      font-family: var(--head-font);
      border-radius: var(--unit-size) var(--unit-size) 0 0;
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
}

.set-nav2 ul {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      width: 100%;
      margin-left: calc(2 * var(--side-margin));
      margin-right: calc(2 * var(--side-margin));
      padding: 0;
}

.set-nav2 li {
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
      font-weight: 700;
}

.active {
      color: #F6F6F6 !important;
      font-weight: 700;
}

.set-nav2 a {
      color: #91B9D0;
}

.set-nav2 a:hover {
      color: #F6F6F6;
      transition: all 0.8s ease;
}

.form {
      order: 3;
      background-color: #00000050;
      padding: calc(2*var(--unit-size));
      font-size: var(--medium-size);
      height: 100%;
      width: 100%;
      margin-left: var(--side-margin);
      margin-right: var(--side-margin);
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
      border-radius: 0 0 var(--unit-size) var(--unit-size);
}

.form-single {
      order: 3;
      background-color: #00000050;
      padding: calc(2*var(--unit-size));
      font-size: var(--medium-size);
      height: 100%;
      width: 100%;
      margin-left: var(--side-margin);
      margin-right: var(--side-margin);
      margin-top: calc(2 * var(--unit-size));
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
      border-radius: var(--unit-size);
}


/* FORMS ------------------------------*/
label {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      width: 100%;
}

label:nth-child() {
    margin-top: var(--medium-size);
}

input[type=text] {
    margin-top: calc(var(--unit-size) * 0.5);
    width: calc(100% - var(--unit-size));
    background-color: rgba(0, 0, 0, 0.30);
    border-style: none;
    padding: calc(var(--unit-size) * 0.5) calc(var(--unit-size) * 0.5);
    color: #F6F6F6;
    border-radius: calc(var(--unit-size) * 0.5);
    font-size: var(--medium-size);
}

button[type=submit] {
      background: rgba(0, 0, 0, 0.30);
      padding: calc(var(--unit-size) * 0.8) calc(var(--unit-size) * 2);
      color: #F6F6F6;
      border-style: solid;
      border-color: rgba(144, 185, 208, 0.65);
      border-radius: var(--unit-size);
      border-width: 2px;
      font-family: 'Montserrat', sans-serif;
      font-size: var(--small-size);
      font-weight: 700;
}

#form_bio {
      margin-top: calc(var(--unit-size) * 0.5);
      width: calc(100% - var(--unit-size));
      height: calc(10 * var(--unit-size));
      background-color: rgba(0, 0, 0, 0.30);
      border-style: none;
      padding: calc(var(--unit-size) * 0.5) calc(var(--unit-size) * 0.5);
      color: #F6F6F6;
      border-radius: calc(var(--unit-size) * 0.5);
      font-size: var(--medium-size);
      word-wrap: break-word;
      resize: vertical;
}

#form_phone_number {
      margin-top: calc(var(--unit-size) * 0.5);
      width: calc(100% - var(--unit-size));
      background-color: rgba(0, 0, 0, 0.30);
      border-style: none;
      padding: calc(var(--unit-size) * 0.5) calc(var(--unit-size) * 0.5);
      color: #F6F6F6;
      border-radius: calc(var(--unit-size) * 0.5);
      font-size: var(--medium-size);
}

#form_language{
      margin-top: calc(var(--unit-size) * 0.5);
      background-color: rgba(0, 0, 0, 0.30);
      border-style: none;
      padding: calc(var(--unit-size) * 0.5) calc(var(--unit-size) * 0.5);
      color: #F6F6F6;
      border-radius: calc(var(--unit-size) * 0.5);
      font-size: var(--medium-size);
}
select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../../icons/drop.svg");
      background-size: var(--main-size);
      background-position: center right;
      background-repeat: no-repeat;
}

.help-text {
      font-size: var(--medium-size);
      font-style: italic;
      color: rgba(246, 246, 246, 0.8);
      margin-bottom: var(--unit-size);
}

.form-single input[type=checkbox] {
      margin-left: var(--unit-size);
}

/* JS Cropping */
#img-cropped {
      display: block;
      max-width: 100%;
}
#img-container {
      display: flex;
      margin-top: var(--main-size);
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
}