.main-nav {
    margin-bottom: var(--unit-size);
    font-size: var(--main-size);
    border-radius: var(--unit-size);
    padding: var(--unit-size);
    box-sizing: border-box;

    background-image: radial-gradient(ellipse at 10% 10%, var(--bg3), var(--accent-blue)),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAElBMVEUAAACUkpSEhoSMioyMjoyEgoRr6djFAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAU1JREFUKJEVUcl1xTAIpAVLSgECXIAYUoCAX0Bi919LlCPLm5ValiOUUe2+ZRVFuYpKXFsUX9aIp0V6GtC8VRhNL0X2fikvswhKrNDhes7pbpPkufFAtI0B76LEjfc2bgdHDk6RX4A/sjt6LCylfoYpNYYJx/9COhIugsjluzN9VGZ/Hnl51jIH2ba+Ywsy2RJCFdoDe8Obw61TXGAv+ewExMRJs7gd7YcimPuk42uMqY2VJ1fK+bDL32rb7kwok/la/u7Mrz7Xf0DTssSP2Btp1ZS0zw35tM/SsJKgWNLcRh+/th1QqntwtM3Tx0LNosoBYbM3qjJFiMeLsMH2i5BcQdU3n9sJHOE1Hoqn1GA/bm4s0YkVB/y4r0PbltF32FpljXmdlOOwbDvFWkoDYLppSG4pnM6UxX3Src1lhXeU36FOu3o+R2vNaHME/wESUl9/3zMniwAAAABJRU5ErkJggg==);
    background-blend-mode: multiply;
}

.main-nav ul {
    margin-top: var(--main-size);
}

.main-nav ul li {
    font-size: var(--medium-size);

    border-radius: var(--unit-size);
    box-sizing: border-box;

    padding: var(--unit-size);
    margin-bottom: var(--small-size);

    background-color: var(--translucent);
}

.form {
    font-size: var(--main-size);
    border-radius: var(--unit-size);
    padding: var(--unit-size);
    box-sizing: border-box;

    background-image: radial-gradient(ellipse at 10% 10%, var(--bg3), var(--accent-blue)),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAElBMVEUAAACUkpSEhoSMioyMjoyEgoRr6djFAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAU1JREFUKJEVUcl1xTAIpAVLSgECXIAYUoCAX0Bi919LlCPLm5ValiOUUe2+ZRVFuYpKXFsUX9aIp0V6GtC8VRhNL0X2fikvswhKrNDhes7pbpPkufFAtI0B76LEjfc2bgdHDk6RX4A/sjt6LCylfoYpNYYJx/9COhIugsjluzN9VGZ/Hnl51jIH2ba+Ywsy2RJCFdoDe8Obw61TXGAv+ewExMRJs7gd7YcimPuk42uMqY2VJ1fK+bDL32rb7kwok/la/u7Mrz7Xf0DTssSP2Btp1ZS0zw35tM/SsJKgWNLcRh+/th1QqntwtM3Tx0LNosoBYbM3qjJFiMeLsMH2i5BcQdU3n9sJHOE1Hoqn1GA/bm4s0YkVB/y4r0PbltF32FpljXmdlOOwbDvFWkoDYLppSG4pnM6UxX3Src1lhXeU36FOu3o+R2vNaHME/wESUl9/3zMniwAAAABJRU5ErkJggg==);
    background-blend-mode: multiply;
}

.form #save {
    margin-top: var(--main-size);

    font-size: var(--medium-size);
    border-radius: var(--unit-size);
    padding: var(--unit-size);
    box-sizing: border-box;
    background-color: var(--translucent);
}

.icon-details-open {
    fill: var(--white);
}

.section-title-settings summary:focus,
.section-title-settings summary:hover {
    border-radius: var(--unit-size) !important;
    padding: var(--unit-size) var(--small-size) var(--unit-size) var(--small-size) !important;
    background: var(--white) !important;
    color: var(--bg1) !important;
    transition: all 0.4s ease;
}

.section-title-settings summary:focus .icon-details-open,
.section-title-settings summary:hover .icon-details-open {
    fill: var(--bg1);
    transition: all 0.4s ease;
}

/* SECTION DETAILS OPENED */
.section-title-settings[open] svg {
    transform: rotate(180deg);
    animation: fadeOut 300ms;
}

.section-title-settings[open] .set-nav li:first-of-type {
    margin-top: var(--unit-size);
}

.section-title-settings[open] .set-nav li:last-of-type {
    margin-bottom: 0;
}

/* SECTION DETAILS CLOSED */
.section-title-settings:not([open]) svg {
    transform: initial;
    animation: fadeIn 300ms;
}