/*-------------------------------------*/
/* PAGES ------------------------------*/
.set-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 2;
    width: 100%;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    background-color: #00000080;
    padding: var(--medium-size) var(--medium-size);
    font-size: var(--medium-size);
    font-family: var(--head-font);
    box-shadow: 0px 0px 60px -20px rgba(41, 50, 60, 1);
}

.set-nav ul {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin-left: calc(var(--side-margin) * 0.25);
    margin-right: calc(var(--side-margin) * 0.25);
    padding: 0;
}

.set-nav li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

.active {
    color: #F6F6F6 !important;
    font-weight: 700;
}

.set-nav a {
    color: #91B9D0;
}

.set-nav a:hover {
    color: #F6F6F6;
    transition: all 0.8s ease;

}

/*-------------------------------------*/
/*-------------------------------------*/
.set-nav2 {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    order: 2;
    width: 100%;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    margin-top: var(--unit-size);
    background-color: #00000080;
    border-top-left-radius: var(--unit-size);
    border-top-right-radius: var(--unit-size);
    padding: var(--medium-size) var(--medium-size);
    font-size: var(--medium-size);
    font-family: var(--head-font);
    box-shadow: 0px 0px 60px -20px rgba(41, 50, 60, 1);
}

.set-nav2 ul {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin-left: calc(var(--side-margin) * 0.5);
    margin-right: calc(var(--side-margin) * 0.5);
    padding: 0;
}

.set-nav2 li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

.set-nav2 a {
    color: #91B9D0;
}

.set-nav2 a:hover {
    color: #F6F6F6;
    transition: all 0.8s ease;

}

hr {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    margin-left: 10%;
    color: #91b9d088;
}

/* CONTENT ----------------------------*/
.content {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    width: 100%;
    margin-bottom: var(--unit-size);
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    background-color: rgba(0, 0, 0, 0.30);
    padding: var(--unit-size);
    border-bottom-left-radius: var(--unit-size);
    border-bottom-right-radius: var(--unit-size);
    box-shadow: 0px 0px 60px -20px rgba(41, 50, 60, 1);
}

/* FORMS ------------------------------*/
label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: var(--medium-size);
}

label:nth-child() {
    margin-top: var(--medium-size);
}

input[type=text] {
    margin-top: calc(var(--unit-size) * 0.5);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    border-style: none;
    padding: calc(var(--unit-size) * 0.5) calc(var(--unit-size) * 0.5);
    color: #F6F6F6;
    border-radius: calc(var(--unit-size) * 0.5);
    font-size: var(--medium-size);
    margin-bottom: var(--unit-size);
}