.content {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(2 * var(--medium-size) + var(--main-size) + 0.15em);
      justify-content: center;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
      height: 100%;
}

.set-nav {
      order: 1;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      background-color: #2A323B;
      padding: var(--medium-size);
      font-size: var(--medium-size);
      font-family: var(--head-font);
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
}

.set-nav ul {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      width: 100%;
      margin-left: var(--side-margin);
      margin-right: var(--side-margin);
      padding: 0;
}

.set-nav li {
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
      font-weight: 700;
      font-size: var(--medium-size);
}

.set-nav a {
      color: #91B9D0;
}

.set-nav a:hover {
      color: #F6F6F6;
      transition: all 0.8s ease;
}

.set-nav2 {
      order: 2;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      background-color: #00000050;
      padding: var(--medium-size);
      margin-top: var(--unit-size);
      margin-left: 1%;
      margin-right: 1%;
      font-size: var(--medium-size);
      font-family: var(--head-font);
      border-radius: var(--unit-size) var(--unit-size) 0 0;
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
}

.set-nav2 ul {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      width: 100%;
      margin-left: var(--side-margin);
      margin-right: var(--side-margin);
      padding: 0;
}

.set-nav2 li {
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
      font-weight: 700;
      font-size: var(--medium-size);
}

.set-nav2 a {
      color: #91B9D0;
}

.set-nav2 a:hover {
      color: #F6F6F6;
      transition: all 0.8s ease;
}


.active {
      color: #F6F6F6 !important;
      font-weight: 700;
}

.form {
      order: 3;
      background-color: #00000050;
      padding: calc(2*var(--unit-size));
      font-size: var(--medium-size);
      height: 100%;
      margin-left: 1%;
      margin-right: 1%;
      margin-top: 0;
      box-shadow: 0;
      border-radius: 0 0 var(--unit-size) var(--unit-size);
}


/* FORMS ------------------------------*/
label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: var(--medium-size);
}

label:nth-child() {
    margin-top: var(--medium-size);
}

input[type=text] {
    margin-top: calc(var(--unit-size) * 0.5);
    width: calc(100% - var(--unit-size));
    background-color: rgba(0, 0, 0, 0.30);
    border-style: none;
    padding: calc(var(--unit-size) * 0.5);
    color: #F6F6F6;
    border-radius: calc(var(--unit-size) * 0.5);
    font-size: var(--medium-size);
    margin-bottom: var(--unit-size);
}

button[type=submit] {
      background: rgba(0, 0, 0, 0.30);
      padding: calc(var(--unit-size) * 0.8) calc(var(--unit-size) * 2);
      color: #F6F6F6;
      border-style: solid;
      border-color: rgba(144, 185, 208, 0.65);
      border-radius: var(--unit-size);
      border-width: 2px;
      font-family: 'Montserrat', sans-serif;
      font-size: var(--small-size);
      font-weight: 700;
}
