.content {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(3 * var(--main-size) + 2%);
      justify-content: center;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: var(--unit-size);
}

.main {
      width: 100%;
      margin-left: 1%;
      margin-right: 1%;
      box-shadow: var(--shadow);
      border-radius: var(--small-size);
      border: solid 2px var(--accent-low);
      background-color: var(--bg3);
}

.set-nav {
      order: 1;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex: 1;
      background-color: var(--bg1);
      padding: var(--medium-size);
      font-family: var(--head-font);
      border-radius: var(--small-size) var(--small-size) 0 0;
}

.set-nav ul {
      display: flex;
      align-items: stretch;
      justify-content: space-around;
      width: 100%;
      margin-left: var(--side-margin);
      margin-right: var(--side-margin);
      padding: 0;
}

.set-nav li {
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
      font-weight: 700;
      font-size: var(--medium-size);
}

.set-nav a {
      color: var(--accent);
}

.set-nav a:hover {
      color: var(--fg);
      transition: all 0.8s ease;
}

.active {
      color: var(--fg) !important;
      font-weight: 700;
}

.secundary {
      display: flex;
      flex-wrap: wrap;
      border-radius: 0 0 var(--unit-size) var(--unit-size);
      background-color: var(--bg3);
      margin: 2%;
      border: solid 2px var(--accent-low);
      border-radius: var(--small-size);
      box-shadow: var(--shadow);
}

.form {
      order: 3;
      padding: var(--unit-size);
      height: 100%;
      width: 100%;
      box-shadow: var(--shadow);
      border-radius: 0 0 var(--small-size) var(--small-size);
}
.form-single {
      order: 2;
      padding: var(--unit-size);
      height: 100%;
      width: 100%;
      border-radius: var(--small-size);
}
.form label,
.form-single label {
      font-size: var(--medium-size);
}

/* FORMS ------------------------------*/
.form label,
.form-single label {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: var(--medium-size);
      width: 100%;
}

.form input[type=text],
.form-single input[type=text] {
      margin-top: calc(var(--unit-size) * 0.5);
      width: calc(100% - var(--unit-size));
      box-shadow: var(--shadow);
      background-color: var(--bg2);
      border: solid 2px var(--accent-low);
      padding: calc(var(--unit-size) * 0.5);
      color: var(--fg);
      border-radius: calc(var(--unit-size) * 0.5);
      font-size: var(--medium-size);
}

.form input[type=checkbox] {
      float: right;
}

#save_bio {
      margin-top: calc(var(--unit-size) * 0.5);
      width: calc(100% - var(--unit-size));
      height: calc(10 * var(--unit-size));
      background-color: var(--bg2);
      border: solid 2px var(--accent-low);
      box-shadow: var(--shadow);
      padding: calc(var(--unit-size) * 0.5) calc(var(--unit-size) * 0.5);
      color: var(--fg);
      border-radius: calc(var(--unit-size) * 0.5);
      font-size: var(--medium-size);
      word-wrap: break-word;
      resize: vertical;
}

#save_phone_number {
      margin-top: calc(var(--unit-size) * 0.5);
      width: calc(100% - var(--unit-size));
      background-color: var(--bg2);
      border: solid 2px var(--accent-low);
      box-shadow: var(--shadow);
      padding: calc(var(--unit-size) * 0.5) calc(var(--unit-size) * 0.5);
      color: var(--fg);
      border-radius: calc(var(--unit-size) * 0.5);
      font-size: var(--medium-size);
}

#save_language{
      margin-top: calc(var(--unit-size) * 0.5);
      background-color: var(--bg2);
      border: solid 2px var(--accent-low);
      box-shadow: var(--shadow);
      padding: calc(var(--unit-size) * 0.5) calc(var(--unit-size) * 0.5);
      color: var(--fg);
      border-radius: calc(var(--unit-size) * 0.5);
      font-size: var(--medium-size);
}
select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../../icons/drop.svg");
      background-size: var(--main-size);
      background-position: 95% 50%;
      background-repeat: no-repeat;
}

.help-text {
      font-size: var(--medium-size);
      font-style: italic;
      color: var(--fg);
      margin-bottom: var(--unit-size);
}

.form-single input[type=checkbox] {
      margin-left: var(--unit-size);
}

/* JS Cropping */
#img-cropped {
      display: block;
      max-width: 100%;
}
#img-container {
      margin: var(--main-size) auto;
      max-width: 80%;
}
.cropper-view-box,
.cropper-face {
      border-radius: 50%;
}

/* NOTIFICATIONS TABS */
/* visual feedback */
ul input[type=radio] + label {
      color: var(--accent);
}
ul input[type=radio]:checked + label {
      color: var(--fg);
}
ul input[type=radio]:focus + label {
      color: var(--fg);
}

/* show/hide each tab */
ul input[type=radio]:not(:checked) + label + div {
      display: none;
}
ul input[type=radio]:checked + label + div {
      display: flex;
}

/* hide radio buttons */
input[type=radio] {
      position: absolute;
      z-index: 1;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
}

#form-tabs {
      order: 2;
      width: 100%;
      font-size: var(--medium-size);
}
#form-tabs ul {
      display: flex;
      flex-wrap: wrap;
      border-radius: 0 0 var(--unit-size) var(--unit-size);
      background-color: var(--bg1);
      justify-content: space-evenly;
      width: 100%;
}
#form-tabs ul label {
      order: 1;
      flex: 0;
}

#tabs {
      padding: var(--medium-size);
      text-transform: capitalize;
}

#form-tabs ul .form {
      order: 2;
      padding: var(--unit-size);
      background-color: var(--bg3) !important;
      height: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      box-shadow: 0;
      border-radius: 0 0 var(--unit-size) var(--unit-size);
      font-size: var(--unit-size);
}
#form-tabs ul .form form{
      width: 100%;
}
#form-tabs ul .form form div label {
      margin-bottom: calc(var(--unit-size) * 0.5);
}