.main-nav {
    background-color: var(--translucent);
    margin-bottom: var(--unit-size);
    border-radius: var(--unit-size);
    padding: var(--unit-size);
    box-sizing: border-box;
    border: solid 2px var(--bg2);
}

.main-nav h1 {
    margin-bottom: var(--unit-size);
}

.main-nav hr {
    all: unset;
    display: block;
    height: 2px;
    background-image: linear-gradient(to right, var(--bg2), transparent 90%);
    margin-top: var(--unit-size);
    margin-bottom: var(--unit-size);
}

.main-nav ul {
    background-color: var(--translucent);
    border: 2px solid var(--bg2);
    border-radius: var(--unit-size);
    padding: var(--unit-size);
    box-sizing: border-box;
}

.main-nav ul li {
    border-radius: var(--unit-size);
}

.form {
    display: flex;
    border-radius: var(--unit-size);
    padding: var(--unit-size);
    box-sizing: border-box;
}

.form .separator {
    all: unset;
    display: flex;
    width: 2px;
    background-image: linear-gradient(to bottom, var(--bg2), transparent 90%);
    margin-right: var(--unit-size);
}

.form form {
    width: 100%;
}

.form #save {
    display: flex;
    flex-direction: column;
    padding: var(--unit-size);
    box-sizing: border-box;
}

.form #save div {
    display: contents;
}

.form #save div label {
    display: inline-block;
    font-family: var(--display-font);
}

.form #save div input,
.form #save div textarea {
    display: inline-block;
    position: relative;

    color: var(--white);
    border-radius: var(--unit-size);
    padding: var(--unit-size);
    box-sizing: border-box;
    border: 2px solid var(--bg2);
    background-color: var(--translucent);
}

.form #save div textarea {
    resize: vertical;
}

.form #save div p {
    font-style: italic;
}

.form #save div:last-of-type {
    text-align: end;
}

.icon-details-open {
    fill: var(--white);
}

.section-title-settings section {
    margin-top: var(--unit-size);
}

.section-title-settings summary {
    padding: var(--unit-size) var(--small-size);
}

.section-title-settings summary:focus .icon-details-open,
.section-title-settings summary:hover .icon-details-open {
    fill: var(--bg1);
    transition: var(--cubic-transition);
}

/* SECTION DETAILS OPENED */
.section-title-settings[open] svg {
    transform: rotate(180deg);
    animation: var(--fade-out)
}

.section-title-settings[open] .set-nav li:last-of-type {
    margin-bottom: 0;
}

/* SECTION DETAILS CLOSED */
.section-title-settings:not([open]) svg {
    transform: initial;
    animation: var(--fade-in);
}