<div id="right-panel">
    <input type="checkbox" id="toggle-right" class="larger">
    <div class="arrow right">
        <label for="toggle-right" id='right-panel'></label>
    </div>
    <div class='rss'>
        <div> </div>
    </div>
    <div>
        {% block right %}
        {% endblock right %}
    </div>
</div>