<div id="right-panel">
    <input type="checkbox" id="toggle-right" class="larger">
    <div class="arrow right">
        <label for="toggle-right" id='right-panel'></label>
    </div>
    <div id='right-container'>
        {% set current_path = app.request.get('_route') %}
        {% if right_panel_vars is defined %}
            {% for block in handle_event('AppendRightPanelBlock', {'path': current_path, 'vars': right_panel_vars}) %}
                {{ block | raw }}
            {% endfor %}
        {% else %}
            {% for block in handle_event('AppendRightPanelBlock', {'path': current_path}) %}
                {{ block | raw }}
            {% endfor %}
        {% endif %}
    </div>
</div>