.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-bottom: var(--unit-size);
}
form {
    font-size: var(--medium-size);
    background-color: #61778C30;
    padding: calc(2 * var(--unit-size));
    border-radius: var(--unit-size);
    margin-right: var(--small-size);
    margin-left: var(--small-size);
    box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.75);
}
label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;
}
button {
    margin-top: var(--unit-size);
}
input[type=text],
input[type=password],
input[type=email]
{
    margin-top: calc(var(--unit-size) * 0.5);
    background-color: rgba(0, 0, 0, 0.30);
    color: #f6f6f6;
    border-style: none;
    padding: calc(var(--unit-size) * 0.5);
    border-radius: calc(var(--unit-size) * 0.5);
    font-size: var(--medium-size);
    margin-bottom: var(--unit-size);
    width: calc(100% - var(--unit-size));
}
.checkbox label {
    font-family: "Open Sans", sans-serif;
    font-size: var(--medium-size);
    font-weight: normal;
}
.active {
    color: #F6F6F6 !important;
    font-weight: 700;
}
input {
    filter: none;
}
