/*-------------------------------------*/
/* PAGES ------------------------------*/
.faq-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 2;
    width: 100%;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    background-color: #00000080;
    padding: var(--medium-size) var(--medium-size);
    font-size: var(--medium-size);
    font-family: var(--head-font);
    box-shadow: 0px 0px 60px -20px rgba(41, 50, 60, 1);
}

.faq-nav ul {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin-left: calc(var(--side-margin) * 0.25);
    margin-right: calc(var(--side-margin) * 0.25);
    padding: 0;
}

.faq-nav li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

.active {
    color: #F6F6F6 !important;
    font-weight: 700;
}

.faq-nav a {
    color: #91B9D0;
}

.faq-nav a:hover {
    color: #F6F6F6;
    transition: all 0.8s ease;

}

/*-------------------------------------*/
/*-------------------------------------*/
/* CONTENT ----------------------------*/
.content {
    order: 3;
    width: 100%;
    margin-top: var(--unit-size);
    margin-bottom: var(--unit-size);
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    background-color: rgba(0, 0, 0, 0.40);
    padding: 0 var(--unit-size) var(--unit-size) var(--unit-size);
    border-radius: var(--unit-size);
    font-size: var(--small-size);
    box-shadow: 0px 0px 60px -20px rgba(41, 50, 60, 1);
}

.content ul {
    margin: 0;
    padding-left: calc(var(--unit-size) * 2);
    list-style: disc;
}