/*-------------------------------------*/
/* PAGES ------------------------------*/
.faq-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 2;
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #00000080;
    padding: 1em 1em;
    font-size: 0.7em;
    box-shadow: 0px 0px 60px -20px rgba(41, 50, 60, 1);
}

.faq-nav ul {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}

.faq-nav li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

.active {
    color: #F6F6F6 !important;
    font-weight: 700;
}

.faq-nav a {
    color: #91B9D0;
}

.faq-nav a:hover {
    color: #F6F6F6;
    transition: all 0.8s ease;

}

/*-------------------------------------*/
/*-------------------------------------*/
/* CONTENT ----------------------------*/
.content {
    order: 3;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(0, 0, 0, 0.40);
    padding: 0 1em 1em 1em;
    border-radius: 1em;
    font-size: 0.65em;
    box-shadow: 0px 0px 60px -20px rgba(41, 50, 60, 1);
}

.content ul {
    margin: 0;
    padding-left: 2em;
    list-style: disc;
}