.content {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(2 * var(--medium-size) + var(--main-size) + 0.15em);
      ;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
      height: 100%;
}

.faq-nav {
      order: 1;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      background-color: #2A323B;
      padding: var(--medium-size);
      font-size: var(--medium-size);
      font-family: var(--head-font);
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
}

.faq-nav ul {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      width: 100%;
      margin-left: var(--side-margin);
      margin-right: var(--side-margin);
      padding: 0;
}

.faq-nav li {
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
      font-weight: 700;
      font-size: var(--medium-size);
}

.active {
      color: #F6F6F6 !important;
      font-weight: 700;
}

.faq-nav a {
      color: #91B9D0;
}

.faq-nav a:hover {
      color: #F6F6F6;
      transition: all 0.8s ease;
}

.markd {
      order: 2;
      background-color: #00000040;
      font-size: var(--small-size);
      padding: calc(3*var(--unit-size));
      padding-top: var(--unit-size);
      height: 100%;
      margin-left: var(--side-margin);
      margin-right: var(--side-margin);
      margin-top: calc(2 * var(--unit-size));
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
      border-radius: var(--unit-size);
}
