{% extends 'faq/home.html.twig' %}

{% block title %}Help{% endblock %}

{% block body %}
      <div class="content">
            {% block markdown %}
            {% apply markdown_to_html %}
            ## Openid
            LoadAverage supports the [OpenID](http://openid.net/) standard for single signon between Web sites. OpenID lets you log into many different Web sites without using a different password for each. (See [Wikipedia's OpenID article](http://en.wikipedia.org/wiki/OpenID) for more information.)

            If you already have an account on GNU social, you can **login** with your username and password as usual. To use OpenID in the future, you can **add an OpenID to your account** after you have logged in normally.

            There are many [Public OpenID providers](http://wiki.openid.net/OpenID-Providers), and you may already have an OpenID-enabled account on another service.

            -   On wikis: If you have an account on an OpenID-enabled wiki, like [Wikitravel](http://wikitravel.org/), [wikiHow](http://www.wikihow.com/), [Vinismo](http://vinismo.com/), [AboutUs](http://aboutus.org/) or [Keiki](http://kei.ki/), you can log in to LoadAverage by entering the **full URL** of your user page on that other wiki in the box above. For example, _http://kei.ki/en/User:Evan_.
            -   [Yahoo!](http://openid.yahoo.com/) : If you have an account with Yahoo!, you can log in to this site by entering your Yahoo!-provided OpenID in the box above. Yahoo! OpenID URLs have the form _https://me.yahoo.com/yourusername_.
            -   [AOL](http://dev.aol.com/aol-and-63-million-openids) : If you have an account with [AOL](http://www.aol.com/), like an [AIM](http://www.aim.com/) account, you can log in to LoadAverage by entering your AOL-provided OpenID in the box above. AOL OpenID URLs have the form _http://openid.aol.com/yourusername_. Your username should be all lowercase, no spaces.
            -   [Blogger](http://bloggerindraft.blogspot.com/2008/01/new-feature-blogger-as-openid-provider.html), [Wordpress.com](http://faq.wordpress.com/2007/03/06/what-is-openid/), [LiveJournal](http://www.livejournal.com/openid/about.bml), [Vox](http://bradfitz.vox.com/library/post/openid-for-vox.html) : If you have a blog on any of these services, enter your blog URL in the box above. For example, _http://yourusername.blogspot.com/_, _http://yourusername.wordpress.com/_, _http://yourusername.livejournal.com/_, or _http://yourusername.vox.com/_.

            Additionally, once you have an account on GNU social, you can use your profile's URL as an OpenID elsewhere as well.
            {% endapply %}
            {% endblock %}
      </div>
{% endblock %}