{% for tab in tabs %}
    <li>
        <a href="{{ tab.url }}" title="{{ tab.active ? ('Hide ' ~ tab['icon']) : ('Show ' ~ tab['icon']) | trans }}">
            {{ tab['icon'] }}
            <span>{{ icon(tab.active ? 'eye-opened' : 'eye-closed', 'icon') | raw }}</span>
        </a>
    </li>
{% endfor %}
