{% extends 'settings/base.html.twig' %}

{% block title %}Account Settings{% endblock %}

{% block page_name %}Account{% endblock %}

{% block form %}
    <div class='form'>
        <h1>Settings / Account</h1>
        {{ form(acc) }}
    </div>
{% endblock form %}
