<div class='form'>
    <script type="text/javascript" src="{{ asset('assets/javascript/cropping.js') }}"></script>

    {{ form(avatar) }}
    <div id="img-container">
        <img id="img-cropped">
    </div>
</div>
