{% extends 'settings/profile.html.twig' %}

{% block title %}Avatar Settings{% endblock %}

{% block body %}
      {{ parent() }}
{% endblock body %}

{% block form %}
      <div class='form'>
            {{ form(avatar) }}
      </div>
{% endblock form %}
