{% extends 'settings/base.html.twig' %}

{% block title %}Profile Settings{% endblock %}

{% block form %}
    <div class='form'>
        <h1>Settings / Profile</h1>

        {{ form(prof) }}
    </div>
{% endblock form %}

