{% extends 'base.html.twig' %}

{% block body %}
  <p>{{ 'Put the languages in the order you\'d like to see them in your language selection dropdown, when posting' | trans}}</p>
  {{ form(form) }}
{% endblock %}
