<section class="section-widget">
    <details class="section-widget-title-details" title="Expand if you want to access more options.">
        <summary class="section-title-summary">
            <h2>Web Monetization</h2>
        </summary>
        <fieldset class="section-form">
            {{ form(the_form) }}
        </fieldset>
    </details>
</section>

