<section class="frame-section">
    <details class="section-details-title" title="Expand if you want to access more options.">
        <summary class="details-title-summary">
            <h2>Web Monetization</h2>
        </summary>
        <section class="section-form">
            {{ form(the_form) }}
        </section>
    </details>
</section>

