{% set handled = false %}
{% for block in handle_event('ViewAttachment', {'attachment': attachment, 'note': note}) %}
    {% set handled = true %}
    {{ block | raw }}
{% endfor %}
{% if not handled %}
    <div>
        <i> <a href="{{ path('attachment_show', {'id': attachment.getId()}) }}">{{ attachment.getBestTitle(note) }}</a> </i>
    </div>
{% endif %}
