:root {
      /* fonts */
      --head-font: 'Montserrat', sans-serif;
      --main-font: 'Open Sans', sans-serif;

      /* font and margin sizes */
      --main-size: 1.25em;
      --medium-size: 0.8em;
      --small-size: 0.65em;
      --unit-size: 1em;
      --side-margin: 2em;
      --nav-size: 14em;

      /* colours and shadows */
      --fg: #eceff4;
      --accent: #81a1c1;
      --bg1: #2e3440;
      --bg2: #3b4252;
      --bg3: #4c566a;
      --bg4: #2e344075;
      --bg5: #2e344090;
      --shadow:  0px 0px 90px 0px rgba(46,52,64,0.95);
}

/* DEFAULTS */
body,
html {
      background: var(--bg3);
      background-attachment: fixed;
      background-size: cover;
      color: var(--fg);
      font-family: var(--main-font);
      font-size: var(--main-size);
      margin: 0;
      padding: 0;
}

ul {
      text-decoration: none;
      margin: 0;
      padding: 0;
      list-style: none;
}

li {
      margin: 0;
      padding: 0;
}

a:link {
      text-decoration: none;
      outline: 0;
      color: var(--fg);
}
a:visited {
      outline: 0;
      color: var(--fg);
      margin: 0;
      padding: 0;
}
a:hover {
      color: var(--fg);
      transition: all 0.8s ease;
}
a:focus {
      color: var(--fg);
      transition: all 0.8s ease;
}

b {
      font-family: var(--head-font);
      font-weight: 800;
}

/* HEADER */
#header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--bg1);
      box-shadow: var(--shadow);
      padding: var(--main-size);
      height: var(--main-size);
}

#top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
}

.icon-menu {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: var(--unit-size);
      height: var(--unit-size);
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
}

#instance {
      order: 1;

}

#instance b {
      margin: 0;
      padding: 0;
      vertical-align: middle;
      margin-left: calc(0.2 * var(--unit-size));
}

.icon-logo {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: var(--unit-size);
      height: var(--unit-size);
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      vertical-align: middle;
}

#left-panel {
      order: 2;
}

/* left panel z-index fix */
.form {
      position: relative;
      z-index: 0;
}
#header {
      z-index: 1;
}

/* RIGHT PANEL */
#right-panel {
      order: 3;
}

.arrow {
      border: solid var(--fg);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 0.3em;
}
.right {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
}

.rss {
      display: flex;
      flex-direction: column;
      width: var(--nav-size);
      height: calc(100vh - (3 * var(--unit-size)));
      position: fixed;
      background-color: var(--bg2);
      margin-top: calc(3 * var(--main-size));
      z-index: 0;
}

.right-panel input[type=checkbox] {
      transform: scale(3);
      -ms-transform: scale(3);
      -webkit-transform: scale(3);
      padding: 3em;
}

/* untoggled */
.rss {
      right: -100%;
      top: 0;
      transition: 0.3s ease;
}
.arrow label {
      display: block;
      cursor: pointer;
}
#toggle-right {
      position: absolute;
      z-index: 2;
      cursor: pointer;
      opacity: 0;
}
#toggle-right:not(:checked)+.arrow {
      transform: rotate(135deg);
      transition: 0.3s ease;
}

/* toggled */
#toggle-right:checked~.rss {
      display: flex;
      right: 0;
      top: 0;
      transition: 0.3s ease;
}
#toggle-right:checked+.arrow {
      transform: rotate(-45deg);
      transition: 0.3s ease;
}