:root {
      --head-font: 'Montserrat', sans-serif;
      --main-font: 'Open Sans', sans-serif;
      --main-size: 1.2em;
      --medium-size: 0.8em;
      --small-size: 0.65em;
      --unit-size: 1em;
      --side-margin: 5em;
      --nav-size: 15em;
}

body,
html {
      background: rgb(51,61,71);
      background: -moz-linear-gradient(80deg, rgba(51,61,71,1) 0%, rgba(39,46,54,1) 90%);
      background: -webkit-linear-gradient(80deg, rgba(51,61,71,1) 0%, rgba(39,46,54,1) 90%);
      background: linear-gradient(80deg, rgba(51,61,71,1) 0%, rgba(39,46,54,1) 90%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333d47",endColorstr="#272e36",GradientType=1);
      background-attachment: fixed;
      background-size: cover;
      color: #F6F6F6;
      font-family: var(--main-font);
      font-size: var(--main-size);
      margin: 0;
      padding: 0;
}

ul {
      text-decoration: none;
      margin: 0;
      padding: 0;
      list-style: none;
}

li {
      margin: 0;
      padding: 0;
}

a:link {
      text-decoration: none;
      outline: 0;
      color: #F6F6F6;
      margin: 0;
      padding: 0;
}

a:visited {
      outline: 0;
      color: #F6F6F6;
      margin: 0;
      padding: 0;
}

b {
      font-family: var(--head-font);
      font-weight: 800;
}

/*-------------------------------------*/
/* HEADER -----------------------------*/
#header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #272E36;
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
      padding: var(--medium-size);
}

#top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
}

.icon-menu {
      position: relative;
      display: flex;
      align-items: center;
      width: var(--unit-size);
      height: var(--unit-size);
      cursor: pointer;
      transition: all .5s ease-in-out;
      background-color: #272E36;
}
.icon-menu label {
      width: var(--unit-size);
      height: 2px;
      background: #F6F6F6;
      transition: all .5s ease-in-out;
      z-index: 1;
}
.icon-menu label::before,
.icon-menu label::after {
      content: '';
      position: absolute;
      width: var(--unit-size);
      height: 2px;
      background: #F6F6F6;
      transition: all .5s ease-in-out;
}
.icon-menu label::before {
      transform: translateY(-6px);
}
.icon-menu label::after {
      transform: translateY(6px);
}
#toggle:checked+div label{
      width: 0px;
}
#toggle:checked+div label::before {
      transform: rotate(45deg);
}
#toggle:checked+div label::after {
      transform: rotate(-45deg);
}

#instance {
      order: 2;
}

#instance b {
      margin: 0;
      padding: 0;
      vertical-align: top;
}

.icon-logo {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: var(--unit-size);
      height: var(--unit-size);
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
}

#left-panel {
      order: 2;
}

#search {
      order: 3;
}

.icon-search {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: var(--unit-size);
      height: var(--unit-size);
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
}

/*-------------------------------------*/
/* LEFT PANEL -------------------------*/
.navbar {
      width: var(--nav-size);
      height: calc(100vh - (3 * var(--unit-size)));
      position: fixed;
      background: rgb(51,61,71);
      background: -moz-linear-gradient(80deg, rgba(51,61,71,1) 0%, rgba(39,46,54,1) 90%);
      background: -webkit-linear-gradient(80deg, rgba(51,61,71,1) 0%, rgba(39,46,54,1) 90%);
      background: linear-gradient(80deg, rgba(51,61,71,1) 0%, rgba(39,46,54,1) 90%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333d47",endColorstr="#272e36",GradientType=1);
      margin-top: calc(2 * var(--medium-size) + var(--main-size) + 0.15em);
}

.navbar {
      left: -100%;
      top:0;
      transition: 0.3s ease;
}

.navbar a {
      display: block;
      color: #91B9D0;
      margin-left: var(--unit-size);
      margin-bottom: var(--small-size);
      font-size: var(--medium-size);
}

.navbar a:nth-child(1) {
      margin-top: var(--unit-size);
}

.navbar a:hover {
      color: #F6F6F6;
      transition: all 0.8s ease;
}

label {
      display: block;
      cursor: pointer
}

#toggle {
      position: absolute;
      z-index: 2;
      cursor: pointer;
      width: var(--unit-size);
      height: var(--unit-size);
      opacity: 0;
}

#toggle:checked~.navbar {
      display: block;
      left: 0;
      top: 0;
      transition: 0.3s ease;
}

.profile {
      display: flex;
      flex-wrap: wrap;
      background-color: rgba(0, 0, 0, 0.20);
      padding: var(--unit-size);
      font-size: var(--small-size);
      margin-bottom: var(--unit-size);
      vertical-align: middle;
}

.icon-avatar {
      order: 1;
      height: calc(5 * var(--unit-size));
      weight: auto;
      width: 25%;
      margin-right: var(--small-size);
}

.info {
      order: 2;
}

.info #nick {
      order: 1;
      margin-bottom: var(--small-size);
}

.info .tags {
      order: 2;
      margin-bottom: var(--small-size);
}

.info .stats {
      order: 3;
}

.info .tags i {
      color: #91B9D0;
}

.info .tags i:last-child {
      margin-left: var(--small-size);
}

.stats span:last-child {
      margin-left: var(--small-size);
}
