:root {
      --head-font: 'Montserrat', sans-serif;
      --main-font: 'Open Sans', sans-serif;
      --main-size: 1.2em;
      --medium-size: 0.85em;
      --small-size: 0.65em;
      --unit-size: 1em;
      --side-margin: 5em;
      --nav-size: 15em;
}

body,
html {
      background: #2E3945;
      background: -moz-linear-gradient(80deg, #2E3945 0%, #61778C 100%);
      background: -webkit-linear-gradient(80deg, #2E3945 0%, #61778C 100%);
      background: linear-gradient(80deg, #2E3945 0%, #61778C 100%);
      background-attachment: fixed;
      background-size: cover;
      color: #F6F6F6;
      font-family: var(--main-font);
      font-size: var(--main-size);
      margin: 0;
      padding: 0;
}

ul {
      text-decoration: none;
      margin: 0;
      padding: 0;
      list-style: none;
}

li {
      margin: 0;
      padding: 0;
}

a:link {
      text-decoration: none;
      outline: 0;
      color: #F6F6F6;
      margin: 0;
      padding: 0;
}

a:visited {
      outline: 0;
      color: #F6F6F6;
      margin: 0;
      padding: 0;
}

b {
      font-family: var(--head-font);
      font-weight: 800;
}

/*-------------------------------------*/
/* HEADER -----------------------------*/
#header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #272E36;
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
      padding: var(--main-size);
      height: var(--main-size);
}

#top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
}

.icon-menu {
      position: relative;
      display: flex;
      align-items: center;
      width: var(--unit-size);
      height: var(--unit-size);
      cursor: pointer;
      transition: all .5s ease-in-out;
}
.icon-menu label {
      width: var(--unit-size);
      height: 2px;
      background: #F6F6F6;
      transition: all .5s ease-in-out;
}
.icon-menu label::before,
.icon-menu label::after {
      content: '';
      position: absolute;
      width: var(--unit-size);
      height: 2px;
      background: #F6F6F6;
      transition: all .5s ease-in-out;
}
.icon-menu label::before {
      transform: translateY(-6px);
}
.icon-menu label::after {
      transform: translateY(6px);
}
#toggle:checked+div label{
      width: 0px;
}
#toggle:checked+div label::before {
      transform: rotate(45deg);
}
#toggle:checked+div label::after {
      transform: rotate(-45deg);
}

#instance {
      order: 2;
}

#instance b {
      margin: 0;
      padding: 0;
      vertical-align: middle;
      margin-left: calc(0.2 * var(--unit-size));
}

.icon-logo {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: var(--unit-size);
      height: var(--unit-size);
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      vertical-align: middle;
}

#left-panel {
      order: 2;
}

#search {
      order: 3;
}

.icon-search {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: var(--unit-size);
      height: var(--unit-size);
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      align-self: center;
}

/* left panel z-index fix */
.form {
      position: relative;
      z-index: 0;
}
#header {
      z-index: 1;
}