:root {
      --head-font: 'Montserrat', sans-serif;
      --main-font: 'Open Sans', sans-serif;
      --main-size: 1.25em;
      --medium-size: 0.8em;
      --small-size: 0.65em;
      --unit-size: 1em;
      --side-margin: 2em;
      --nav-size: 15em;
}

body,
html {
      background: #2E3945;
      background: -moz-linear-gradient(80deg, #2E3945 0%, #61778C 100%);
      background: -webkit-linear-gradient(80deg, #2E3945 0%, #61778C 100%);
      background: linear-gradient(80deg, #2E3945 0%, #61778C 100%);
      background-attachment: fixed;
      background-size: cover;
      color: #F6F6F6;
      font-family: var(--main-font);
      font-size: var(--main-size);
      margin: 0;
      padding: 0;
}

ul {
      text-decoration: none;
      margin: 0;
      padding: 0;
      list-style: none;
}

li {
      margin: 0;
      padding: 0;
}

a:link {
      text-decoration: none;
      outline: 0;
      color: #F6F6F6;
}

a:visited {
      outline: 0;
      color: #F6F6F6;
      margin: 0;
      padding: 0;
}

b {
      font-family: var(--head-font);
      font-weight: 800;
}

#container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}

/*-------------------------------------*/
/* HEADER -----------------------------*/
#header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #272E36;
      box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.75);
      padding: var(--main-size);
      height: var(--main-size);
}

#top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
}

.icon-menu {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: var(--unit-size);
      height: var(--unit-size);
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
}

#instance {
      order: 1;

}

#instance b {
      margin: 0;
      padding: 0;
      vertical-align: middle;
      margin-left: calc(0.2 * var(--unit-size));
}

.icon-logo {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: var(--unit-size);
      height: var(--unit-size);
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      vertical-align: middle;
}

#left-panel {
      order: 2;
}

#search {
      order: 3;
      width: var(--unit-size);
      height: var(--unit-size);
}

.icon-search {
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      align-self: center;
}

/*-------------------------------------*/
/* LEFT PANEL -------------------------*/
.navbar {
      width: var(--nav-size);
      height: calc(100vh - (3 * var(--unit-size)));
      position: fixed;
      background-color: rgba(0, 0, 0, 0.40);
      margin-top: calc(3 * var(--main-size));
}

.navbar {
      left: -15em;
      top: 0;
      transition: 0.3s ease;
      display: block;
      left: 0;
      top: 0;
      transition: 0.3s ease;
}

.navbar a {
      display: block;
      color: #91B9D0;
      margin-left: var(--unit-size);
      margin-bottom: var(--small-size);
      font-size: var(--medium-size);
}

.navbar a:nth-child(1) {
      margin-top: var(--unit-size);
}

.navbar a:hover {
      color: #F6F6F6;
      transition: all 0.8s ease;
}

.icon-menu label {
      display: none;
      cursor: pointer
}

#toggle {
      display: none;
}

#toggle:checked+.navbar {
      display: block;
      left: 0;
      top: 0;
      transition: 0.3s ease;
}

.profile {
      display: flex;
      flex-wrap: wrap;
      background-color: rgba(0, 0, 0, 0.20);
      padding: var(--unit-size);
      font-size: var(--small-size);
      margin-bottom: var(--unit-size);
      vertical-align: middle;
}

.icon-avatar {
      order: 1;
      height: calc(5 * var(--unit-size));
      weight: auto;
      width: 25%;
      margin-right: var(--small-size);
}

.info {
      order: 2;
}

.info #nick {
      order: 1;
      margin-bottom: var(--small-size);
}

.info .tags {
      order: 2;
      margin-bottom: var(--small-size);
}

.info .stats {
      order: 3;
}

.info .tags i {
      color: #91B9D0;
}

.info .tags i:last-child {
      margin-left: var(--small-size);
}

.stats span:last-child {
      margin-left: var(--small-size);
}
