<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   class="{{ iconClass|default('') }}"
   viewBox="0 0 16 16"
   width="16"
   height="16"
   version="1.1"
   id="svg6"
   sodipodi:docname="logo.svg"
   inkscape:version="1.1 (c4e8f9ed74, 2021-05-24)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:dc="http://purl.org/dc/elements/1.1/">
  <defs
     id="defs10" />
  <sodipodi:namedview
     id="namedview8"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     showgrid="false"
     width="16px"
     inkscape:zoom="7.2107905"
     inkscape:cx="-29.955107"
     inkscape:cy="30.232469"
     inkscape:window-width="1920"
     inkscape:window-height="1016"
     inkscape:window-x="0"
     inkscape:window-y="36"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg6" />
  <title
     id="title2">
    {{ config('site', 'name') }}
</title>
  <path
     d="M 6.9900123,15.675447 C 7.83238,15.249709 8.6457213,14.448891 8.9542101,13.741415 9.4249113,12.663981 9.562081,12.706668 5.6638515,12.706668 c -3.8384667,0 -4.1828131,-0.06545 -4.89085768,-0.926605 C 0.42580152,11.35774 0.4127107,11.161947 0.4127107,6.3980138 c 0,-4.79353 0.0113834,-4.9591578 0.37052813,-5.44238122 C 1.4662401,0.03756508 1.7502547,3.4146019e-8 8.0116686,3.4146019e-8 14.275358,3.4146019e-8 14.532053,0.03528851 15.245789,0.99490515 c 0.322149,0.43313655 0.3415,0.73991795 0.3415,5.40310865 0,4.7639332 -0.01309,4.9602962 -0.360283,5.3820492 -0.517374,0.62893 -1.223141,0.926605 -2.199264,0.926605 -0.757562,0 -0.863427,0.0444 -0.956771,0.400125 -0.141723,0.54071 -0.887901,1.363157 -1.657416,1.828167 -0.7757747,0.468424 -2.7735536,1.075157 -3.509487,1.064912 l -0.5424168,-0.0074 z m 3.1161927,-4.946636 c 0.679017,-0.311335 1.334698,-1.314208 1.495203,-2.2863465 0.07684,-0.4655798 0.0996,-0.884487 0.05122,-0.9311588 -0.175303,-0.1673352 -3.1349746,-0.087082 -3.1349746,0.085375 0,0.093913 -0.1058655,0.6892627 0.028462,0.9971814 C 8.7225578,8.9985406 9.1329277,8.7833955 9.4613369,8.8260834 9.7436439,8.8630814 9.8978893,9.017323 9.661685,9.3241046 9.4545112,9.5927521 9.2120461,9.6530834 8.3571558,9.6485301 7.4470538,9.6434077 7.1362884,9.5500641 6.7725902,9.2301921 6.3696195,8.875601 6.3582361,8.5984165 6.3024577,7.4156856 6.2267584,5.8174628 6.4168605,5.5271873 7.6451238,5.3655437 c 1.0188108,-0.1343236 2.070632,0.062039 2.3563542,0.6625112 0.170181,0.3574372 0.110418,0.421184 0.74561,0.421184 0.876518,0 0.935142,-0.2424654 0.595918,-1.133782 C 11.123876,4.7388901 10.92979,4.8771979 11.181362,4.3700694 11.616206,3.4929821 11.526278,2.8805577 10.860352,2.1850348 10.20524,1.5008952 9.9132573,1.5487053 10.23313,2.287485 10.348101,2.552717 10.416401,2.9824386 10.385665,3.24141 10.34184,3.6085231 10.230284,3.7240641 9.8836603,3.7627676 9.6355032,3.7906568 9.3395363,3.6990208 9.2160266,3.5567288 8.9604706,3.2619 8.4971679,3.2226274 8.2347823,3.4736304 8.1089955,3.594294 7.9160479,3.5863256 7.5973144,3.4474486 7.2125569,3.2795442 7.0884782,3.2937734 6.8095861,3.5351005 6.6274525,3.6927599 6.2973352,3.7974867 6.075929,3.7673209 5.7207684,3.7189417 5.6746658,3.6255982 5.6832033,2.9704861 5.6883258,2.5618238 5.7549185,2.0979522 5.8311868,1.9391543 6.0662531,1.4473935 5.4913938,1.5987921 4.9990638,2.1582839 4.4811212,2.7468032 4.3900543,3.8304985 4.8101001,4.4042195 c 0.2316513,0.3164572 0.047241,0.3671131 -0.08253,1.0683277 -0.6255152,3.3791482 0.022767,4.6353018 1.7183172,5.2955358 1.1093075,0.431999 2.6716727,0.415493 3.6620237,-0.0387 z"
     id="path4"
     style="stroke-width:0.569167" />
  <metadata
     id="metadata12">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:title>
    {{ config('site', 'name') }}
</dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
</svg>
