<!-- https://github.com/primer/octicons -->
<!-- MIT License -->
<svg
        xmlns="http://www.w3.org/2000/svg"
        class="{{ iconClass|default('') }}"
        viewBox="0 0 16 16"
        width="16"
        height="16">
    <title>Open left sidepanel</title>
    <path d="m0.99999 3a0.75 0.75 0 0 1 0.75-0.75h12.5a0.75 0.75 0 1 1 0 1.5h-12.5a0.75 0.75 0 0 1-0.75-0.75zm0 5a0.75 0.75 0 0 1 0.75-0.75h12.5a0.75 0.75 0 1 1 0 1.5h-12.5a0.75 0.75 0 0 1-0.75-0.75zm0.75 4.25a0.75 0.75 0 1 0 0 1.5h12.5a0.75 0.75 0 1 0 0-1.5z"
          fill-rule="evenodd"/>
</svg>
