<svg
        class="{{ iconClass|default('') }}"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
    <title>Missing icon</title>
    <defs
            id="defs10" />
    <g
            id="g924"
            transform="matrix(-1.0181289,0,0,-1.0181289,31.566762,24.172898)">
        <path
                d="M 22.266,2.711 A 0.75,0.75 0 1 0 21.205,1.651 L 19.222,3.634 17.238,1.651 a 0.75,0.75 0 1 0 -1.06,1.06 l 1.983,1.983 -1.983,1.984 a 0.75,0.75 0 0 0 1.06,1.06 l 1.984,-1.983 1.983,1.983 a 0.75,0.75 0 0 0 1.06,-1.06 L 20.282,4.694 Z"
                id="path2" />
        <path
                fill-rule="evenodd"
                d="m 16,19.25 c 3.2e-5,-1.506151 1.034586,-2.81507 2.5,-3.163 V 9.625 c 0,-0.9999996 1.5,-0.9999996 1.5,0 v 6.462 c 3.745332,0.894834 3.10074,6.406526 -0.75,6.413 C 17.455075,22.5 16,21.044925 16,19.25 Z m 3.25,-1.75 c -2.333332,0 -2.333332,3.5 0,3.5 2.333332,0 2.333332,-3.5 0,-3.5 z"
                id="path4" />
    </g>
</svg>