<section class="section-widget section-widget-padded">
    <div class="section-title">
        {{ 'Tags for this attachment' | trans }}
    </div>

    {% for tag in related_tags %}
        <i>#{{ tag['tag'] }}</i>
    {% else %}
        {{ 'No tags' | trans }}
    {% endfor %}
</section>