{% import '/cards/note/view.html.twig' as noteView %}

<section class="section-widget section-widget-padded">
    <div class="section-title">
        {{ 'Notes related' | trans }}
    </div>

    {% for note in related_notes %}
        {{ noteView.macro_note_minimal(note) }}
    {% endfor %}
</section>