{% import '/cards/note/view.html.twig' as noteView %}

<section class="frame-section frame-section-padding">
    <div class="section-title">
        <h2 class="heading-no-margin">
            {{ 'Notes related' | trans }}
        </h2>
    </div>

    {% for note in related_notes %}
        {{ noteView.macro_note_minimal(note) }}
    {% endfor %}
</section>