<section class="frame-section frame-section-padding">
    <div class="section-title">
        <h2 class="heading-no-margin">
            {{ 'Attachment tags' | trans }}
        </h2>
    </div>

    {% for tag in related_tags %}
        <i>#{{ tag['tag'] }}</i>
    {% else %}
        {{ 'No tags' | trans }}
    {% endfor %}
</section>