.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(4 * var(--main-size));
    justify-content: center;
    align-items: center;
    margin-left: var(--nav-size);
    margin-right: var(--nav-size);
    margin-bottom: var(--unit-size);
}
.content .main {
    width: 100%;
    margin-left: var(--unit-size);
    margin-right: var(--unit-size);
    margin-top: var(--unit-size);
    border-radius: var(--small-size);
    background-color: var(--bg3);
    border: solid 2px var(--accent-low);
}

.main-nav {
    order: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    background-color: var(--bg1);
    padding: var(--medium-size);
    font-size: var(--medium-size);
    font-family: var(--head-font);
    border-radius: var(--small-size) var(--small-size) 0 0;
}

.main-nav ul {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin-left: calc(2 * var(--side-margin));
    margin-right: calc(2 * var(--side-margin));
    padding: 0;
}
.main-nav li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    font-weight: 700;
}
.active {
    color: var(--fg) !important;
    font-weight: 700;
}

.main-nav a {
    color: var(--accent);
}

.main-nav a:hover {
    color: var(--fg);
    transition: all 0.8s ease;
}

/* notices */
.notes {
    display: flex;
    flex-wrap: wrap;
}

.notes-wrap {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--medium-size);
    border-radius: var(--small-size);
    background-color: var(--bg3);
    box-shadow: var(--shadow);
    margin: var(--unit-size);
    border: solid 2px var(--accent-low);
}
.notes-wrap .timeline {
    order: 3;
    width: 100%;
}
.notes-wrap .timeline .notes > div {
    margin:  var(--unit-size) var(--unit-size) 0 var(--unit-size);
    border-radius: var(--small-size);
    width: 100%;
}
.notes-wrap .timeline .notes > div:last-child {
    margin:  var(--unit-size) var(--unit-size) var(--unit-size) var(--unit-size);
}
.notes-wrap .main-nav {
    width: 100%;
    font-size: var(--unit-size);
}

.notice {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px var(--accent-low);
    border-radius: var(--small-size);
}
.notice-info {
    background-color: var(--bg1);
    box-sizing: border-box;
    padding: 5px;
    border-radius: var(--small-size) var(--small-size) 0 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
}
.notice-info a img {
    width: calc(2 * var(--unit-size));
    height: auto;
}
.notice-content {
    word-break: break-word;
    padding: var(--small-size);
    border-radius: 0 0 var(--small-size) var(--small-size);
}
/* posting form */
.note-post {
    width: calc(100% - (6 * var(--unit-size)));
    border: solid 2px var(--accent-low);
    border-radius: var(--small-size);
}
#form {
    display: flex;
    flex-wrap: wrap;
}
#form div {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
}
#form div:nth-of-type(2) {
    display: flex;
    justify-content: right;
}

textarea#form_content {
    background-color: var(--bg3);
    border-radius: var(--small-size) var(--small-size) 0 0;
    color: var(--fg);
    height: calc(8 * var(--unit-size));
    width: 100%;
    box-sizing: border-box;
    padding: var(--unit-size);
    word-wrap: break-word;
    resize: vertical;
    font-size: var(--unit-size);
}
button#form_send {
    color: var(--fg);
    font-size: var(--small-size);
    background-color: var(--bg1);
    padding: var(--small-size) var(--main-size) var(--small-size) var(--main-size);
    border: solid 2px var(--accent-low);
    border-radius: var(--main-size);
    margin: var(--small-size);
}