.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(4 * var(--main-size));
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
}
.content .main {
    width: 100%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: var(--unit-size);
    border-radius: var(--unit-size);
    background-color: var(--bg3);
    border: solid 2px var(--accent-low);
}

.main-nav {
    order: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    background-color: var(--bg1);
    padding: var(--medium-size);
    font-family: var(--head-font);
    border-radius: var(--unit-size) var(--unit-size) 0 0;
    border-bottom: solid 2px var(--accent-low);
}

.main-nav ul {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    font-size: var(--medium-size);
    margin-left: calc(2 * var(--side-margin));
    margin-right: calc(2 * var(--side-margin));
    padding: 0;
}
.main-nav li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    font-weight: 700;
    width: 10%;
}
.notes-wrap .main-nav ul {
    font-size: var(--unit-size);
}

.active {
    color: var(--fg) !important;
    font-weight: 700;
}

.main-nav a {
    color: var(--accent);
}

.main-nav a:hover {
    color: var(--fg);
    transition: all 0.8s ease;
}

/* notices */
.notes {
    display: flex;
    flex-wrap: wrap;
}

.notes-wrap {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--medium-size);
    border-radius: var(--unit-size);
    background-color: var(--bg3);
    box-shadow: var(--shadow);
    margin: var(--unit-size);
    border: solid 2px var(--accent-low);
}
.notes-wrap .timeline {
    order: 3;
    width: 100%;
}
.notes-wrap .timeline .notes > div {
    margin:  var(--unit-size) var(--unit-size) 0 var(--unit-size);
    border-radius: var(--unit-size);
    width: 100%;
}
.notes-wrap .timeline .notes > div:last-child {
    margin:  var(--unit-size) var(--unit-size) var(--unit-size) var(--unit-size);
}
.notes-wrap .main-nav {
    width: 100%;
    font-size: var(--unit-size);
}

.note {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px var(--accent-low);
    border-radius: var(--unit-size);
    box-shadow: var(--shadow);
    margin-bottom: var(--unit-size);
}
.note-info {
    order: 1;
    background-color: var(--bg1);
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    border-radius: var(--unit-size) 0 0 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    width: 50%;
}
.note-info b {
    margin-left: var(--small-size);
}
.note-info a {
    height: calc(2 * var(--unit-size));
}
.note-info a img {
    width: calc(2 * var(--unit-size));
    height: calc(2 * var(--unit-size));
}
.note-content {
    order: 3;
    word-break: break-word;
    padding: var(--small-size);
    border-radius: 0 0 var(--unit-size) var(--unit-size);
    width: 100%;
}

.note-actions {
    order: 2;
    width: 50%;
    justify-content: right;
    border-radius: 0 var(--unit-size) 0 0;
    background-color: var(--bg1);
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}
.note-actions a {
    height: var(--main-size);
    margin-left: auto;
}
.note-actions a svg {
    width: var(--main-size);
    height: var(--main-size);
    fill: var(--fg);
}

.replies {
    order: 4;
    width: 100%;
    box-sizing: content-box;
    padding: var(--unit-size) var(--unit-size) 0 var(--unit-size);
}

/* POSTING */
.content > form {
    display: flex;
    flex: max-content;
    width: -webkit-fill-available;
}
.create-notice {
    display: flex;
    flex-wrap: wrap;
    flex: max-content;
    width: -webkit-fill-available;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: var(--unit-size);
    border: solid 2px var(--accent-low);
    background-color: var(--bg3);
}
.create-right {
    order: 2;
    width: 90%;
    border-radius: 0 var(--unit-size) var(--unit-size) 0;
    background-color: var(--bg3);
}

/* target multi-select */
.target {
    order: 1;
    width: 10%;
    background-color: var(--bg1);
    border-radius: var(--unit-size) 0 0 var(--unit-size);
}
.target-top {
    padding: var(--unit-size) var(--unit-size) 0 var(--unit-size);
    font-size: var(--medium-size);
}
.target-bot {
    padding-left: var(--unit-size);
    padding-bottom: var(--unit-size);
    font-size: var(--medium-size);
}
.target .required {
    font-weight: 800;
    font-family: var(--head-font);
}
.target #form_to {
    font-weight: 400;
    font-family: var(--main-font);
}
.target #form_to label {
    margin-left: 0.2em;
}

/* scope options */
.scope {
    order: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: var(--fg);
    background-color: var(--bg1);
    border-radius: 0 var(--unit-size) 0 0;
}
.scope > div {
    display: inline;
    vertical-align: middle;
    flex: 1;
    font-size: var(--medium-size);
    color: var(--fg);
    padding: var(--unit-size);
}
.scope .required {
    order: 1;
    font-weight: 800;
    font-family: var(--head-font);
}
#form_visibility .required {
    font-family: var(--main-font);
    font-weight: 400;
    margin-left: 0.1em;
    margin-right: 1em;
}
.scope #form_scope {
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
}

/* input box */
.input-wrapper {
    order: 2;
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}
.content-input {
    order: 2;
    flex-grow: 1;
    flex-shrink: 0;
}
#form_content {
    background-color: var(--bg3);
    padding: var(--unit-size);
    color: var(--fg);
    font-size: var(--medium-size);
    font-family: var(--main-font);
    width: 100%;
    box-sizing: border-box;
    height: calc(8 * var(--unit-size));
    resize: vertical;
}

/* options */
.notice-options {
    order: 3;
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
    background-color: var(--bg3);
    border-radius: 0 0 var(--unit-size) 0;
}
.send {
    order: 2;
    width: calc(100% - var(--main-size));
}
.send div {
    float: right;
    vertical-align: middle;
}

#form_attachments {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#form_attachments + label {
    cursor: pointer;
}
#form_attachments:focus + label,
#form_attachments + label:hover {
    border-radius: var(--unit-size);
    box-shadow: 0 0px 8px var(--accent);
}
.icon-attach {
    width: var(--main-size);
    height: var(--main-size);
    font-size: var(--medium-size);
    fill: var(--fg);
    background-color: var(--bg1);
    padding: 0.3em 1em;
    border-style: solid;
    border-color: var(--accent);
    border-radius: var(--unit-size);
    border-width: 2px;
    margin-bottom: -0.5em;
    cursor: pointer;
    z-index: 0;
}