.feed-header {
    display: flex;
    margin-top: var(--m);
}
.feed-header .feed-actions {
    margin-left: auto;
}
.feed-header .feed-actions a {
    margin-left: var(--s);
}
.feed-header .feed-actions a:not(.active) {
    opacity: 0.4;
}
.notes hr {
    margin-top: var(--s);
}
.note-wrapper {
    width: 100%;
    height: inherit;
    border-radius: var(--s) var(--s) 0 0;
}
.note-sidebar {
    padding: var(--s);
}
.note-sidebar * {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
}
.note-sidebar .avatar {
    max-width: 4rem;
    max-height: 4rem;
    min-width: var(--xxl);
    width: 100%;
    height: auto;
    background: unset;
    margin-bottom: var(--s);
    border-radius: 2px;
}
.h-entry:not(:first-child) {
    margin-top: var(--s);
}
.h-entry:not(embed) {
    border: 2px solid var(--border) !important;
    box-shadow: var(--shadow);
}
.h-entry img {
    background: repeating-conic-gradient(#ffffff66 0deg 90deg, #ffffff33 0deg 180deg) 0 0/40px 40px round;
}
.embed {
    display: flex;
    flex-wrap: wrap;
    padding: var(--s);
    border: unset;
}
.embed header {
    width: 100%;
    margin-bottom: var(--m);
}
.embed img {
    width: 25%;
    height: auto;
    margin-right: var(--s);
}
.embed .p-summary {
    width: 60%;
}
.embed .p-author,
.embed .p-name {
    font-weight: bold;
}
.embed img {
    padding: unset;
    max-width: min-content;
    max-height: min-content;
}
.embed .p-summary hr {
    margin-top: var(--s);
    margin-bottom: var(--s);
}
.h-entry .embed[class*="p-"] {
    padding: unset;
}
.h-entry a:focus {
    text-decoration: underline;
}
.h-entry {
    display: flex;
    border-radius: var(--s);
    background-color: var(--background-card) !important;
}
.h-entry figure {
    margin: unset;
    object-fit: cover;
    padding: var(--s);
    background: var(--gradient);
    border-radius: var(--s);
}
.h-entry .replies {
    margin-bottom: var(--m);
    padding: var(--s) var(--s) 0 0;
    padding-left: var(--m);
    border-left: 2px solid var(--border);
}
.note-info,
embed header {
    display: flex;
    align-items: center;
    max-height: var(--xxl);
    border-bottom: unset;
    border-radius: var(--s) var(--s) 0 0;
    padding: 4px var(--s) 4px 0;
}
.note-info {
    background: var(--gradient-backwards);
}
.note-url {
    opacity: 0.5;
    margin-left: var(--s);
}
embed header {
    justify-content: space-between;
}
.note-author-url {
    margin-left: 4px;
}
.note-author-fullname {
    font-weight: bold;
}
.note-author-nickname {
    opacity: 0.5;
}
.note-author-nickname::before {
    content: '@';
}
.note-actions {
    margin-left: auto;
}
.note-actions ul {
    display: flex;
    vertical-align: middle;
}
.note-actions-extra-details {
    display: flex;
    flex-direction: column;
}
.note-actions-extra-details summary {
    display: block;
    opacity: 0.33;
    vertical-align: middle;
}
.note-actions-extra-details[open] > summary {
    opacity: 1 !important;
}
.note-actions-extra-details[open] > summary + * {
    z-index: 1;
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    padding: var(--s);
    border: 2px solid var(--border);
    border-radius: var(--s);
    background: var(--background-card);
    box-shadow: var(--shadow);
    width: max-content;
}
.note-actions-extra-details[open] > summary + * > li:not(:last-of-type) {
    margin-bottom: var(--s);
}
.note-actions-set {
    opacity: 1 !important;
}
.button-container {
    border: none !important;
    mask-repeat: no-repeat !important;
    mask-size: cover !important;
    display: inline-block;
    margin-left: var(--s);
    width: var(--unit);
    height: var(--unit);
    background-color: var(--foreground);
    opacity: 0.33;
}
.button-container:focus,
.button-container:hover {
    border: none !important;
    mask-repeat: no-repeat !important;
    mask-size: cover !important;
    opacity: 1;
    background-color: var(--accent);
}
.favourite-button-container {
    -o-mask-image: url("../../icons/heart.svg");
    -moz-mask-image: url("../../icons/heart.svg");
    -webkit-mask-image: url("../../icons/heart.svg");
    mask-image: url("../../icons/heart.svg");
}
.reply-button-container {
    -o-mask-image: url("../../icons/reply.svg");
    -moz-mask-image: url("../../icons/reply.svg");
    -webkit-mask-image: url("../../icons/reply.svg");
    mask-image: url("../../icons/reply.svg");
}
.repeat-button-container {
    -o-mask-image: url("../../icons/repeat.svg");
    -moz-mask-image: url("../../icons/repeat.svg");
    -webkit-mask-image: url("../../icons/repeat.svg");
    mask-image: url("../../icons/repeat.svg");
}
.delete-button-container {
    -o-mask-image: url("../../icons/delete.svg");
    -moz-mask-image: url("../../icons/delete.svg");
    -webkit-mask-image: url("../../icons/delete.svg");
    mask-image: url("../../icons/delete.svg");
}
.note-content {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 var(--s) var(--s);
    padding-right: var(--s);
}
.note-text a {
    text-decoration: underline !important;
}
.note-attachments {
    display: flex;
    justify-items: flex-start;
}
.note-attachments-unit {
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
    border-radius: var(--s);
    padding: var(--s);
    align-self:flex-start;
    background-color: var(--background-card) !important;
}
.note-attachments-unit:not(:only-child) {
    margin-right: var(--s);
}
.note-attachments-unit > figure figcaption {
    display: flex;
    word-break: break-all;
    margin-bottom: var(--s);
}
.note-complementary {
    border-left: 2px solid var(--accent);
    border-end-start-radius: var(--s);
    border-end-end-radius: var(--s);
    padding-left: var(--s);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: var(--s);
    margin-right: var(--s);
    background: var(--gradient) !important;
}
.note-complementary a {
    font-weight: bold;
}
.h-entry-language {
    position: relative;
    float: right;
    padding: 6px 12px;
    background: var(--gradient-backwards);
    color: var(--foreground);
    border-radius: 0 0 var(--s) 0;
}