.notes hr {
    margin-top: 6px
}
.note-wrapper {
    width: 100%;
    height: inherit
}
.note-sidebar {
    padding: 0.6rem
}
.note-sidebar * {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%
}
.note-sidebar .avatar {
    width: 3rem;
    height: auto;
    background: unset;
    margin-bottom: 0.6rem;
    border-radius: 2px
}
.h-entry:not(:first-child) {
    margin-top: 0.6rem
}
.h-entry .embed {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    border: unset;
    width: 100%
}
.h-entry .embed[class*="p-"] {
    padding: unset !important
}
.h-entry a:focus {
    text-decoration: underline
}
.h-entry .embed header img {
    padding: unset;
    max-width: min-content;
    max-height: min-content
}
.h-entry {
    display: flex;
    border-radius: 0.6rem
}
.h-entry figure {
    margin: unset;
    object-fit: cover
}
.h-entry .replies .h-entry {
    background-color: unset;
    padding: 0 0.6rem 0.6rem 0;
    margin-left: 1.3rem
}
.note-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 3rem;
    border-bottom: unset;
    border-radius: 0.6rem 0.6rem 0 0;
    font-size: 1.3rem;
    padding: 6px 10px 6px 0
}
.note-author {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    align-self: center
}
.note-actions {
    display: flex;
    vertical-align: middle
}
.note-actions .form-group {
    all: unset
}
.button-container {
    border: none !important;
    border-radius: unset !important;
    margin-left: 0.6rem;
    width: 1rem;
    height: 1rem;
}
.button-container:hover,
.button-container:focus {
    border: none !important
}
.favourite-button-container {
    -webkit-mask-image: url("../../icons/heart.svg") !important;
    -o-mask-image: url("../../icons/heart.svg") !important;
    -moz-mask-image: url("../../icons/heart.svg") !important;
    mask-image: url("../../icons/heart.svg") !important
}
.reply-button-container {
    -webkit-mask-image: url("../../icons/reply.svg") !important;
    -o-mask-image: url("../../icons/reply.svg") !important;
    -moz-mask-image: url("../../icons/reply.svg") !important;
    mask-image: url("../../icons/reply.svg") !important
}
.repeat-button-container {
    -webkit-mask-image: url("../../icons/repeat.svg") !important;
    -o-mask-image: url("../../icons/repeat.svg") !important;
    -moz-mask-image: url("../../icons/repeat.svg") !important;
    mask-image: url("../../icons/repeat.svg") !important
}
.delete-button-container {
    -webkit-mask-image: url("../../icons/delete.svg") !important;
    -o-mask-image: url("../../icons/delete.svg") !important;
    -moz-mask-image: url("../../icons/delete.svg") !important;
    mask-image: url("../../icons/delete.svg") !important;
    background: #FF634766 !important
}
.note-content {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0.6rem 0.6rem;
    padding: 1rem
}
.note-text {
    margin-bottom: 0.6rem
}
.section-attachments {
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
    border-radius: 0.6rem;
    padding: 0.6rem;
    align-self: flex-start
}
.note-attachments:not(:only-child) {
    margin-right: 0.6rem
}
.note-attachments > figure figcaption {
    display: flex;
    word-break: break-all;
    margin-bottom: 0.6rem
}