.section-settings {
    margin-bottom: 0.6rem;
    border-radius: 0.6rem;
    padding: 0.6rem;
    box-sizing: border-box;
}

.section-settings hr {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.section-settings,
.section-settings ul {
    border: 2px solid var(--border) !important;
    background-color: var(--background-card) !important;
}

.section-settings ul {
    border-radius: 0.6rem;
    padding: 0.6rem;
    box-sizing: border-box;
}

.section-settings ul li {
    border-radius: 0.6rem;
}

.form {
    display: flex;
    border-radius: 0.6rem;
    padding: 0.6rem;
    box-sizing: border-box;
}

.form form {
    width: 100%;
}

.form #save {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    box-sizing: border-box;
}

.form #save div {
    display: contents;
}

.form #save div label {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

.form #save div input,
.form #save div textarea {
    display: inline-block;
    position: relative;

    border-radius: 0.6rem;
    padding: 0.6rem;
    box-sizing: border-box;
}

.form #save div textarea {
    resize: vertical;
}

.form #save div p {
    font-style: italic;
}

.form #save div:last-of-type {
    text-align: end;
}

.section-title-settings section {
    margin-top: 0.6rem;
}

.section-title-settings summary {
    padding: 0.6rem 1rem;
}
.section-title-settings summary h3:first-letter,
.section-title-settings summary em:first-letter {
    text-transform: uppercase;
}

.section-title-settings summary:focus .icon-details-open,
.section-title-settings summary:hover .icon-details-open {
    transition: all 200ms cubic-bezier(0, 0.55, 0.45, 1);
}

/* SECTION DETAILS OPENED */
.section-title-settings[open] svg {
    transform: rotate(180deg);
    animation: fadeOut 200ms cubic-bezier(0, 0.55, 0.45, 1)
}

.section-title-settings[open] .set-nav li:last-of-type {
    margin-bottom: 0;
}

/* SECTION DETAILS CLOSED */
.section-title-settings:not([open]) svg {
    transform: initial;
    animation: fadeIn 200ms cubic-bezier(0, 0.55, 0.45, 1);
}