.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: var(--small-size);
    margin-left: var(--small-size);
    margin-bottom: var(--unit-size);
}
form {
    font-size: var(--medium-size);
    background-color: var(--bg2);
    padding: calc(2 * var(--unit-size));
    border-radius: var(--small-size);
    border: solid 2px var(--accent-low);
}
label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;
}
button {
    margin-top: var(--unit-size);
}
input[type=text],
input[type=password],
input[type=email]
{
    margin-top: calc(var(--unit-size) * 0.5);
    background-color: var(--bg1);
    color: var(--fg);
    border-style: none;
    padding: calc(var(--unit-size) * 0.5);
    border-radius: calc(var(--unit-size) * 0.5);
    font-size: var(--medium-size);
    margin-bottom: var(--unit-size);
    width: calc(100% - var(--unit-size));
}
.checkbox {
    display: flex;
    vertical-align: center;
}
.checkbox label {
    font-family: "Open Sans", sans-serif;
    font-size: var(--unit-size);
    font-weight: normal;
}
.active {
    color: var(--fg) !important;
    font-weight: 700;
}
input {
    filter: none;
}

button {
    color: var(--fg);
    font-size: var(--unit-size);
    background-color: var(--bg1);
    padding: var(--small-size) var(--main-size) var(--small-size) var(--main-size);
    border: solid 2px var(--accent-low);
    border-radius: var(--small-size);
}