.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: var(--small-size);
    margin-left: var(--small-size);
    margin-bottom: var(--unit-size);
}
.navbar .left-nav > a {
    font-size: var(--unit-size);
}
form {
    font-size: var(--medium-size);
    background-color: var(--bg2);
    padding: calc(2 * var(--unit-size));
    border-radius: var(--unit-size);
    border: solid 2px var(--accent-low);
}
label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;
}
button {
    margin-top: var(--unit-size);
}
input[type=text],
input[type=password],
input[type=email]
{
    margin-top: calc(var(--unit-size) * 0.5);
    background-color: var(--bg1);
    color: var(--fg);
    border-style: none;
    padding: calc(var(--unit-size) * 0.5);
    border-radius: calc(var(--unit-size) * 0.5);
    font-size: var(--unit-size);
    margin-bottom: var(--unit-size);
    width: calc(100% - var(--unit-size));
}
.active {
    color: var(--fg) !important;
    font-weight: 700;
}
input {
    filter: none;
}
form input[type="checkbox"] {
    position: unset !important;
}
form button[type=submit] {
    background: var(--bg1);
    padding: 0.3em 1em;
    color: var(--fg);
    border-style: solid;
    border-color: var(--accent);
    border-radius: var(--unit-size);
    border-width: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
form button[type=submit]:focus,
form button[type=submit]:hover {
    border-radius: var(--unit-size);
    box-shadow: 0 0px 8px var(--accent);
}