.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-drop {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-attach {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-heart {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-logo {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-reply {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-menu {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.icon-recycle {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}
.icon-search {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}

