{% extends 'collection/collection_entry_view.html.twig' %}

{% block collection_items %}
    {% for key, attachment in attachments %}
        <section class="frame-section frame-section-padding">
            {% include '/cards/attachments/view.html.twig' with {'attachment': attachment, 'note': bare_notes[key], 'title': attachment.getBestTitle(bare_notes[key])} only %}
            <a class="frame-section-button-like"
               href="{{ attachment.getDownloadUrl(bare_notes[key]) }}"> {{ 'Download link' | trans }}</a>
        </section>
    {% else %}
        <div id="empty-notes"><h1>{% trans %}No attachments here.{% endtrans %}</h1></div>
    {% endfor %}
{% endblock collection_items %}
