{% extends 'settings/profile.html.twig' %}

{% block title %}Profile Color Settings{% endblock %}

{% block body %}
  {{ parent() }}
{% endblock body %}

{% block form %}
  <div class='form'>
    {{ form(form) }}
  </div>
{% endblock form %}