form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    padding: var(--main-size);
    border-radius: var(--unit-size);
}

fieldset {
    display: flex;
    flex-direction: column;

    font-family: var(--display-font);
    font-size: var(--main-size);
}

fieldset legend {
    margin-bottom: var(--main-size);
}

br {
    margin-bottom: var(--unit-size);
}

label {
    font-family: var(--display-font);
    font-size: var(--medium-size);
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    background: var(--white) !important;
    color: var(--bg1) !important;
    transition: all 0.4s ease;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    all: unset;
    background: var(--translucent);
    padding: var(--unit-size) var(--small-size);
    box-sizing: border-box;
    border-radius: var(--unit-size);
    font-size: var(--medium-size);
    width: 100%;
}

fieldset div:last-child {
    text-align: end;
}