.panel-right .panel-content {
    right: 0;
}

#panel-right-toggle:not(:checked),
#panel-right-toggle:checked {
    position: absolute;
    top: -100%;
}

#panel-right-icon {
    margin-left: var(--unit-size);
    cursor: pointer !important;
    border: 2px solid transparent;
}

@media only screen
and (min-width: 1281px) {
    #panel-right-icon {
        display: none;
    }
}