

.section-panel-right {
    right: 0;
}

#panel-right-toggle:not(:checked),
#panel-right-toggle:checked {
    position: absolute;
    top: -100%;
}

.panel-right-icon {
    margin-left: var(--m) !important;
    cursor: pointer !important;
    border: 2px solid transparent;
}

.section-panel-right textarea {
    resize: vertical;
}

@media only screen and (min-width: 1281px) {
    .panel-right-icon {
        display: none;
    }
}

/* > 1080p */
@media only screen and (min-width:1921px) {
    /*
    * Using the Van de Graaf Canon and Tschichold’s recommended 2:3 page-size ratio
    *
    * 50% - (100 * 2/3) / 2 = 33%
    *
    * > .section-panel-right
    * 50 % - 33% = 17%
    */
    .section-panel-right {
        margin-right: 17vw;
    }
}