{% extends 'collection/notes.html.twig' %}

{% block body %}
    <div class="frame-section frame-section-padding">
        {% if is_muted %}
            <span class="frame-section-padding alert">
            <label>Do you wish to <b>unmute</b> this conversation?</label>
            {{ form(form) }}
        </span>
        {% else %}
            <span class="frame-section-padding alert">
            <label>Do you wish to <b>mute</b> this conversation?</label>
            {{ form(form) }}
        </span>
        {% endif %}

        <hr>

        {{ parent() }}
    </div>
{% endblock body %}
