{% extends 'settings/profile.html.twig' %}

{% block title %}Cover Settings{% endblock %}

{% block body %}
  {{ parent() }}
{% endblock body %}

{% block form %}
  <div class='form-single'>
    {{ form(form) }}
  </div>

  {% if remove_form is not null %}
    <div class='form-single'>
      {{ form(remove_form) }}
    </div>
  {% endif %}
{% endblock form %}