<figure>
    <img class="u-photo"
         alt="{{ attachment.getBestTitle(note) }}"
         src="{{ attachment.getThumbnailUrl() }}">
    <figcaption><a
                href="{{ path('attachment_show', {'id': attachment.getId()}) }}">{{ attachment.getBestTitle(note) }}</a>
    </figcaption>
</figure>
